# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.~lock*
*.pyc
*.DS_Store
._*
*.sql
*.bak
*.vim
*.xlsx
*.xls
*.swp
*.swo
*.dot
*.log
real_plus_data
tests/*test.build.js
/les.html
/les_sfid.html
/LESWEB.XLS
/CODES WEB LES.XLS
/node_modules
/src/mako/mako/*
/src/playground/
/build
/build_prod
/browser-tests/temp-route-tests-*
.vscode/
build_LED
watch
gruntdocs
.git.zip
npm-debug*
/storybook-static
yarn.lock
coverage/
