@import "src/common_css/common-variables";

@mixin active-tab-mixin {
  border: 1px solid $primaryColor;
  background-color: $backgroundColor;
  transition: background-color 200ms ease, border-radius 400ms ease;
  color: $textColor;
}

@mixin disabled-tab-mixin {
  border: 1px solid $primaryColor;
  background-color: $tertiaryColor;
  transition: background-color 200ms ease, border-radius 400ms ease;
  color: $textColor;
}

.tabbed-controls > ul {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

li.tabbed-controls__label {
  display: inline-block;
  padding: 5px 20px 3px 20px;
  margin-left: -2px;
  margin-right: 1px;
  border-top-left-radius: $standardBorderRadius*3;
  border-top-right-radius: $standardBorderRadius*3;
  border: 1px solid change-color($color: $backgroundColor, $alpha: 0.5);
  background-color: $primaryColor;
  transition: background-color 125ms ease, border-radius 250ms ease;
  color: $backgroundColor;
  height: 28px;	
  padding-bottom: 200%;	
  margin-bottom: -200%;
  cursor: pointer;

  & > .tabbed-controls__label-text {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer;
    font-size: 15.6px;
    font-weight: $mediumFontWeight;
  }
}

li.tabbed-controls__label:not(.tabbed-controls__label--disabled){
  &:hover, &:focus {
    @include active-tab-mixin;
  }
}

li.tabbed-controls__label--active {
  @include active-tab-mixin;
  border-top-left-radius: $standardBorderRadius;
  border-top-right-radius: $standardBorderRadius;
  cursor: default;

  & > .tabbed-controls__label-text {
    cursor: default;
    font-weight: $heavyFontWeight;
  }
}

li.tabbed-controls__label--disabled {
  @include disabled-tab-mixin;
  border-top-left-radius: $standardBorderRadius*3;
  border-top-right-radius: $standardBorderRadius*3;
  cursor: not-allowed;

  & > .tabbed-controls__label-text {
    cursor: not-allowed;
  }
}

.tabbed-controls__bottom-border {
  position: relative;
  top: -13px;
  border-top: 1px solid $primaryColor;
}


.tabbed-content {
  margin: 0px -10px;
}

.tabbed-content__pane {
  position: relative;
  margin: 0px 15px;
  top: -13px;
  padding: 15px 35px 0px 35px;
  background-color: $backgroundColor;

  @media(max-width: $maxLargeDevice){
    padding-right: 0px;
    padding-left: 0px;
  }
}