@import "src/style_constants/index.scss";

@mixin active-tab-mixin {
  border: 1px solid $primaryColor;
  background-color: $backgroundColor;
  transition: background-color 200ms ease, border-radius 400ms ease;
  color: $textColor;
}

@mixin disabled-tab-mixin {
  border: 1px solid $primaryColor;
  background-color: $tertiaryColor;
  transition: background-color 200ms ease, border-radius 400ms ease;
  color: $textColor;
}

.tabbed-controls__tab-list {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0px 12px 12px 12px;
}

.tabbed-controls__tab {
  display: inline-block;
  padding: 5px 20px 3px 20px;
  border-top-left-radius: $standardBorderRadius * 3;
  border-top-right-radius: $standardBorderRadius * 3;
  border: 1px solid change-color($color: $backgroundColor, $alpha: 0.5);
  background-color: $primaryColor;
  transition: background-color 125ms ease, border-radius 250ms ease;
  color: $backgroundColor;
  height: 28px;
  padding-bottom: 200%;
  margin-bottom: -200%;
  cursor: pointer;

  & > .tabbed-controls__label {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer;
    font-size: 15.6px;
    font-weight: $mediumFontWeight;
  }
}

.tabbed-controls__tab:not(.tabbed-controls__tab--disabled) {
  &:hover,
  &:focus {
    @include active-tab-mixin;
  }
}

.tabbed-controls__tab--active {
  @include active-tab-mixin;
  border-top-left-radius: $standardBorderRadius;
  border-top-right-radius: $standardBorderRadius;
  cursor: default;

  & > .tabbed-controls__label {
    cursor: default;
    font-weight: $heavyFontWeight;
  }
}

.tabbed-controls__tab--disabled {
  @include disabled-tab-mixin;
  border-top-left-radius: $standardBorderRadius * 3;
  border-top-right-radius: $standardBorderRadius * 3;
  cursor: not-allowed;

  & > .tabbed-controls__label {
    cursor: not-allowed;
  }
}

.tabbed-controls__bottom-border {
  position: relative;
  top: -13px;
  border-top: 1px solid $primaryColor;
}

.tabbed-content {
  margin: 0px -10px;
}

.tabbed-content__pane {
  position: relative;
  margin: 0px 15px;
  top: -13px;
  padding: 15px 35px 0px 35px;
  background-color: $backgroundColor;

  @media (max-width: $maxLargeDevice) {
    padding-right: 0px;
    padding-left: 0px;
  }
}
