@import '../common_css/common-variables';

.tag-cloud.tag-cloud-main {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 0px;
  margin: 10px 0px; 
}

.tag-cloud.tag-cloud-legend {
  display: inline;
}


.tag-cloud > li {
  display: flex;
  flex: 1 1 auto;
  padding: 0px;
  border: none;
  margin: 1px;
  background-color: transparent;
  line-height: 1.8em;;
  font-size: 1em;
}

.tag-cloud > li > button {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $secondaryColor;
  padding: 5px 20px 5px 20px;
  border-radius: 3px;
  color: #fff;
  border: none;
}

.tag-cloud-main > li > button:hover,
.tag-cloud-main > li > button:active,
.tag-cloud-main > li > button:focus,
//.tag-cloud-main > li.active > button:hover,
//.tag-cloud-main > li.active > button:active,
//.tag-cloud-main > li.active > button:focus,
 {
  background-color: #49739C;
}

.tag-cloud > li.active > button {
  color: #fff;
  background-color: $primaryColor;
}


.item-cloud-row {
  min-height: 300px;
  margin-bottom: 100px;  
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
}

@media (min-width: 992px) { 
  .item-cloud-col {
    padding-left: 6px;
    padding-right: 6px;
  }
  .item-cloud-col > div {
    margin: 10px 0;
  }
}

@media (max-width: 992px) { 
  .item-cloud-col > div {
    margin: 10px;
  }
}


.item-card {
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: $primaryColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item-card > .item-title {
  padding: 10px 0px 0px 0px;
  margin-bottom: -5px;
  font-weight: $mediumFontWeight;
  text-align:center;
  color: $primaryColor;
  background-color: transparent;
  border-color: $primaryColor;
  border-radius: 8px 8px 0 0;
  height: 40px;
  //transition: background-color 500ms ease-in, color 500ms ease-in;
}


.item-card > .item-title.active {
  font-weight: $mediumFontWeight;
  color: #fff;
  background-color: $primaryColor;
  //transition: background-color 500ms ease-in, color 500ms ease-in;
}

.item-card-footer {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 50px;

}

.item-tag-container {
  max-width: 85%;
  width: 85%;
}

.item-select > button {
  width: 100px;
  min-height: 35px !important
}


.item-card .item-description {
  padding: 10px;
}

.item-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1em;
  font-size: 0.8em;
  padding: 0;
}

.item-tags > .item-tag {
  display: inline;
  padding: 5px 7px;
  margin: 5px 10px 0 0;
  color: black;
  background-color: #d9edf7;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 0 4px;
  border-color: #269abc;
}

.item-tags > .item-tag.active {
  color: #fff;
  background-color: #2572b4;
  border-color: #2572b4;
}

.item-card > .item-select {
  line-height: 1em;
  font-size: 0.8em;
  padding: 5px 10px;
  align-self: flex-end;
  padding: 5px;
}

.transi-height-enter {
  max-height: 1px;
  opacity: 0.01;
  transition: max-height 500ms ease-in, opacity 500ms ease-in;
}

.transi-height-enter-active {
  max-height: 500px;
  opacity: 1;
  transition: max-height 500ms ease-in, opacity 500ms ease-in;
}

.transi-height-leave {
  max-height: 500px;
  opacity: 1;
  transition: max-height 500ms ease-in, opacity 500ms ease-in;
}

.transi-height-leave-active {
  max-height: 1px;
  opacity: 0.01;
  transition: max-height 500ms ease-out, opacity 500ms ease-out;

}

/* our app-wide a:visited: black is overriding all the bootstrap white on dark blue styles...  */
.nav-pills > li.active > a {
  color: white !important;
}
