@import "../../common_css/common-variables";

.nivo-tooltip {
  width: 100%;
  border-collapse: collapse;
  @media(min-width: $minSmallDevice){
    font-size: inherit;
  }
  @media(max-width: $maxSmallDevice){
    font-size: 14px;
  }
}

.nivo-tooltip__content {
  padding: 3px 5px;
}

.nivo-tooltip__legend-icon {
  width: 12px;
  height: 12px;
}