@import "src/common_css/common-variables";

.FlatTreeMap__TextBox {
  font-size: 13px;
  vertical-align: middle;
  text-align: center;
  max-width: 90%;
  max-height: 90%;
  color: $textColor;
}

.FlatTreeMap__ContentTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.2em;
  font-weight: bold;
  color: $textColor;
}

.FlatTreeMap__ContentText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $textColor;
}
