@import "src/common_css/common-variables";

.nivo-tooltip {
  width: 100%;
  border-collapse: collapse;
  @media(min-width: $minMediumDevice){
    font-size: inherit;
  }
  @media(max-width: $maxMediumDevice){
    font-size: 14px;
  }
}


.nivo-tooltip__icon,
.nivo-tooltip__label,
.nivo-tooltip__value {
  padding: 3px 5px;
}
.nivo-tooltip__value {
  white-space: nowrap;
}

.nivo-tooltip__icon-square {
  width: 12px;
  height: 12px;
}
.nivo-tooltip__icon-circle {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}