@import "src/common_css/common-variables";

.icon-block {
    font-size: 1.8em;
  
    @media(min-width: $minLargeDevice){
      float: right;
      padding-left: 1.2em;
      max-width: 5em;
    }
  
    @media(max-width:$maxLargeDevice){
      margin: 1.2em auto;
      text-align: center;
    }
  }