@import '../../../../common_css/common-variables';

.service-overview-container {
  display: flex;
  @media (max-width: $maxMediumDevice){
    flex-direction:column;
  }
}
.service-overview-rect {
  background-color: lighten($tertiaryColor, 37%);
  border: 2px solid $primaryColor;
  border-radius: 5px;
  padding: 0px 5px 0px;
  margin-bottom: 10px;
  min-height: 65px;
}
.identifier-item {
  display: flex;
  justify-content: space-between;
}