@import "../../../../common_css/common-variables";

#keep_in_mind_tooltip {
    border: 3px solid $primaryColor;
    background-color: $backgroundColor;
    color: $textColor;
    box-sizing: border-box;

    .arrow:after {
        border-top-color: $primaryColor;
    }
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
}