@import '../common_css/common-variables';

.bubble-button {
  @include unstyled-link;
  border-style: solid;
  border-width: 2px;
  text-align: center;

  border: 3px solid #284162;
  
  &:not(.active):not(:hover):not(:focus):not(:active) {
    color: #284162;
    background-color: #fdfdfd;
  }

  &:hover, &:focus {
    transform: scale(1.03);
    background-color: rgba(202, 217, 240, 0.74);
    color: #284162;
  }
  
  &.active, &:focus, &:active {
    transform: scale(1.03);
    color: white;
    background-color: #284162;
  }
}

.bubble-menu > .bubble-button .title,
.bubble-menu > .bubble-button .sub-title {
  min-width: 100%;
}

.bubble-button:not(.active):not(:hover):not(:active):not(:focus) {
  background-color: transparent;
}

.bub-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; //IE fix
  height: 100%;
  justify-content: space-between;
}

.bub-svg {
  width: 80%; 
  height: 70%;
  background-size: 100%;

  & > svg {
    fill: #284162;
    stroke: #284162;
  }
}

.bubble-button.active,
.bubble-button:active {
  & > .bub-items > .bub-svg > svg {
    fill: #fdfdfd;
    stroke: #fdfdfd;
  }
} 

.bubble-button.active,
.bubble-button:focus,
.bubble-button:active,
.bubble-button:hover {
  //turn off WET (or is it chrome's ?) annoying outline 
  outline: none;
}

@media (min-width: 1000px){

  .bubble-menu {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 250px;
  }

  .bubble-button {
    text-decoration: none;
    margin: 5px;
    padding: 15px;
    display: flex;
  }

  .bubble-menu > .bubble-button .title {
    display: block;
  }
}


@media (max-width: 999px){
  .bubble-menu {
    display: flex;
    flex-direction: column;
  }
  .bubble-button {
    margin: 2px;
    padding: 10px;
    width: 100% !important;
    height: auto !important;
  }
  .bub-svg {
    visibility: hidden;
    width: 0px; 
    height: 0px;
  }
}

@media (max-width: 999px){
  .bubble-menu {
    padding: 0px 10px;
  }
}