@import '../common_css/common-variables';

.bubble-button {
  @include unstyled-link;
  border-style: solid;
  border-width: 2px;
  text-align: center;

  border: 3px solid #284162;
  
  &:not(.active):not(:hover):not(:focus):not(:active) {
    color: #284162;
    background-color: #fdfdfd;
  }

  &:hover{
    transform: scale(1.03);
    background-color: rgba(202, 217, 240, 0.74);
    color: #284162;
  }
  
  &.active, &:focus, &:active{
    transform: scale(1.03);

    color: white;
    background-color: $color;
  }
}

.bubble-menu > .bubble-button .title,
.bubble-menu > .bubble-button .sub-title {
  min-width: 100%;
}

@media (min-width: 1000px){

  .bubble-menu {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 250px;
  }

  .bubble-button {
    text-decoration: none;
    margin: 5px;
    padding: 15px;
    display: flex;
  }

  .bubble-button.active {
    line-height: 1.8em;
  }


  .bubble-button .sub-title{
    overflow: hidden;
    display: block;

  }

  .bubble-button .sub-title > header{
    margin-bottom: 5px;
    font-size: 1.2em;
  }

  .bubble-menu > .bubble-button .title {
    display: block;
  }

}


@media (max-width: 999px){
  .bubble-menu {
    display: flex;
    flex-direction: column;
  }
  .bubble-button  {
    margin: 2px;
    padding: 10px;
    width: 100% !important;
    height: auto !important;

  }
  
}


.bubble-button:not(.active):not(:hover):not(:active):not(:focus) {
  background-color: transparent;
}

.bubble-button.active,
.bubble-button:focus,
.bubble-button:active,
.bubble-button:hover {
  color: #fff;
  //turn off WET (or is it chrome's ?) annoying outline 
  outline: none; 
}