/* Adjusts different property sizes 
of the advanced search for mobile */

/* //Text shown fully on display > or < or  = to the IPhone/ IPhone Plus variants */
@media all and (max-width: 458px){
  .sd-and-adv-search > div > a.btn {
    font-size: 18px;
    transform: translateX(-15px) scale(0.8,0.8);
    text-align: left;
    padding: 8px;
    width: fit-content;
  }
}

@media all and (max-width: 374px) {
  .sd-and-adv-search > div > a.btn {
    font-size: 18px;
    transform: translateX(-22px) scale(0.7,0.7);
    text-align: left;
    padding: 8px;
    width: fit-content;
}

.no-cursor {
  pointer-events: 'none' /*missing semi colon*/
}

.previous_and_next_bubble_link_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.previous_bubble_link {
  margin-left: 15px;
}

.next_bubble_link {
  margin-right: 15px;
}

.previous_bubble_link,
.next_bubble_link {
  text-align: center;
  flex: 0 1 33%;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.infograph-panel-container {
  overflow: hidden;
  margin-bottom: 5px;
}


@media(min-width: 1200px){
  .super-wide-container-parent{
    display:flex; 
    flex-direction:column; 
    align-items: center;
  }
}

@media(min-width: 1200px){
  .super-wide-container {
    width: 90vw; 
    overflow-x: visible;
  }
}

@media( min-width: 1600px ){
  .super-wide-container {
    width: 85vw; 
    overflow-x: visible;
  }
}

