@import '../common_css/common-variables';


dt.glossary-dt {
  font-size: 1.4em;

  &:not(:first-child){
    border-top: 1px solid $separatorColor;
    margin-top: 15px;
    padding-top: 5px;
  }
}

.glossary-letter-link {
  padding-left: 10px;
}

.test {
  text-align: right;
}

.glossary-top-link {
  text-decoration: none;
}

.glossary-top-link:hover {
  cursor: pointer;
}
