@import "src/common_css/common-variables";

dt.glossary-dt {
  font-size: 1.4em;

  &:not(:first-child) {
    border-top: 1px solid $separatorColor;
    margin-top: 15px;
    padding-top: 5px;
  }
}

.glossary-letter-link {
  padding-left: 10px;
}

.glossary-top-link-container {
  text-align: right;
}

.glossary-top-link {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.glossary-top-link:hover {
  cursor: pointer;
}

.glossary-top-link:focus {
  overflow: inherit;
  position: inherit;
}
