@import '../common_css/common-variables';

.question-grid {
  border-radius: 10px; 
}

.question-row {
  padding: 20px 0;  
  border-bottom: 1px solid $separatorColor;
  display: flex;

  @media(min-width: $minMediumDevice){
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media(max-width: $maxMediumDevice){
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.question-cell {
  margin:20px;
}

.question-cell-left {
}

.question-cell-right {
}

.QuestionDef {

}

.QuestionDataVis {
  font-size: 1.2em;
}
