@import "src/style_constants/index.scss";

.input-bar {
  display: flex;
  border: 2px $tertiaryColor solid;
  border-radius: 1rem;
  height: 4.5rem;
  padding: 0.1rem;
  background: $backgroundColor;
}
