node_modules

# TEMPORARY... prettier 2.0 doesn't understand TypeScript's `as` keyword AND had a // prettier-ignore bug, ha
client/src/types/util_types.d.ts

# generated stuff
client/app/
client/build/
client/build_prod/
client/storybook-static
*/transpiled_build/
*/coverage/

# TODO these should be ephemeral files, but they aren't always cleaned up properly when tests are run locally
# Can remove this line once that's fixed
client/browser-tests/temp-route-tests-*


# Prettier seems to want to format everything, just being defensive...
*.yaml
*.yml
*.html