@import "src/common_css/common-variables";

.typeahead {
  position: relative;
  outline: none;
}

.typeahead__search-bar {
    display: flex;
    border: 2px $tertiaryColor solid;
    border-radius: 1rem;
    height: 4.5rem;
    padding: 0 1rem;
    background: $backgroundColor;

    & > input {
        width: 100%;
        font-size: 18px;
        border: 0;
        outline: none;

        &::-ms-clear {
          display: none;
          width: 0;
          height: 0;
        }
    }
}
.typeahead__icon-container {
  display: flex; 
  align-items: center;
}

.typeahead__dropdown {
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 100vw;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2px;
  margin-top: 12px;
  background-color: $backgroundColor;
  border: 1px solid $separatorColor;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $standardBorderRadius;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  list-style-type: none;
}

.typeahead__header {
  margin-top: 0px;
  padding: 0px 20px 3px 10px;
  font-size: 1.8em;
  line-height: 1.8em;
  white-space: normal;
  border-bottom: 1px solid $separatorColor;
  color: #777;
  border-top: 1px solid $separatorColor;
}

.typeahead__item {	
  padding: 3px 20px;	
  font-size: 1.4em;	
  line-height: 1.8em;	
  cursor: pointer;	
  display: block;

  border-top: 1px solid $separatorColor;	

  &--active,
  &--active,
  &:focus,
  &:hover {
      background-color: lighten($tertiaryColor, 30%);
      color: $linkFocusColor;
      text-decoration: underline;
  }
}

.typeahead__result,
.typeahead__control {
  display: block;
  padding: 3px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;	
  color: $linkColor;
}

.typeahead__control {
  text-align: center;
}

// utility classes not directly used by the Typeahead component, but by consumers, because
// consumers are responsible for defining the contents of typeahead matches... currently...
// (moving that responsibility more in to Typeahead itself is a possible TODO)
.typeahead__grayed-out {
  opacity: 0.8;
}
.typeahead__highlight {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  padding: 0;
}