@import "src/common_css/common-variables";

.typeahead {
  outline: none;
}

.typeahead__search-bar {
    display: flex;
    border: 2px $tertiaryColor solid;
    border-radius: 1rem;
    height: 4.5rem;
    padding: 0 1rem;
    background: $backgroundColor;

    & > input {
        font-size: 18px;
        border: 0;
        outline: none;

        &::-ms-clear {
          display: none;
          width: 0;
          height: 0;
        }
    }
}
.typeahead__icon-container {
  display: flex; 
  align-items: center;
}

.typeahead__dropdown {
  position: absolute;
  z-index: 9001;
  width: 100%;
  max-width: 100vw;
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 2px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: $backgroundColor;
  border: 1px solid $separatorColor;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $standardBorderRadius;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.typeahead__header {
  margin-top: 0px;
  padding: 0px 20px 3px 10px;
  font-size: 1.8em;
  line-height: 1.8em;
  white-space: normal;
  border-bottom: 1px solid $separatorColor;
  color: #777;

  &:not(:first-child) {
    border-top: 1px solid $separatorColor;
  }
}

.typeahead__item {	
  padding: 3px 20px;	
  font-size: 1.4em;	
  line-height: 1.8em;	
  cursor: pointer;	

  &:not(:first-child) {	
    border-top: 1px solid $separatorColor;	
  }	

  // TODO ugh, descendant selectors and not-anchor a's, clean this up more
  & a {
    display: block;
    padding: 3px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;	
    color: $linkColor;
    &:focus {
      outline: none;
    }	
  }

    &--active,
    &--active a,
    &:focus,
    &:hover,
    & a:focus,
    & a:hover {
    &:not(.disabled){
      background-color: lighten($tertiaryColor, 30%);
      color: $linkFocusColor;
      text-decoration: underline;
    }
  }
}

.typeahead__control {
  text-align: center;
}

// utility classes not directly used by the Typeahead component, but by consumers, because
// consumers are responsible for defining the contents of typeahead results... currently...
// (moving that responsibility more in to Typeahead itself is a possible TODO)
.typeahead__grayed-out-result {
  opacity: 0.8;
}
.typeahead__highlighted {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  padding: 0;
}
.typeahead__result-title {
  font-size: 14px;
  line-height: 1.8em;
  padding: 5px 0px;
}
.typeahead__result-body {
  font-size: 12px;
  line-height: 1;
  padding: 0px 20px 20px 20px;
  color: $textColor;
}