@import 'src/common_css/common-variables';

.back-to-top {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border-radius: $standardBorderRadius;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;

  &.back-to-top--shown {
    opacity: 1;
    visibility: visible;
  }
  
  &.back-to-top--caught {
    position: absolute;
  }
  
  &.back-to-top--fixed {
    position: fixed;
    bottom: 30px;
  }

  @media(max-width: $maxMediumDevice) {
    width: 90%;
    margin-left: 5%;
    position: fixed;
    bottom: 0px !important;
    left: 0px;
    border-radius: 0;
    padding: 10px;
  }
}