@import 'src/common_css/common-variables';

.igoc-checkbox-and-count-row {
  display: flex;
  flex-direction: row;
  @media (max-width: $maxMediumDevice){
    flex-direction: column;
  }

  & > * {
    flex-grow: 1;
  }
}