@import "src/style_constants/common-variables.module.scss";

.igoc-checkbox-and-count-row {
  display: flex;
  flex-direction: row;
  @media (max-width: $maxLargeDevice) {
    flex-direction: column;
  }

  & > * {
    flex-grow: 1;
  }
}
