@import "src/common_css/common-variables";

.igoc-checkbox-and-count-row {
  display: flex;
  flex-direction: row;
  @media (max-width: $maxLargeDevice) {
    flex-direction: column;
  }

  & > * {
    flex-grow: 1;
  }
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid #da3a38;
}
