@import "src/style_constants/index.scss";

.results-drilldown {
  & > .explorer-focus-mount {
    position: relative;
  }
}

.results-drilldown-controls {
  & > * {
    margin-top: 15px;
  }
}

.results-drilldown-controls__expand-collapse {
  display: flex;
  justify-content: space-around;

  & > button {
    margin: 5px 2px;
    flex-grow: 0.3;
  }
}

.results-drilldown__status-icon-array {
  @media (max-width: $maxSmallDevice) {
    display: flex;
    flex-wrap: wrap;
  }
}
