@import "src/common_css/common-variables";

.status-icon-array {
  @media(max-width: $maxExtraSmallDevice){
    display: flex;
    flex-wrap: wrap;
  }
}

.indicator-container-container {
  padding-right:10px;
  padding-top:10px;
}