@import "src/common_css/common-variables";

.labeled-box {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.labeled-box-label {
  display: flex;
  padding: 10px;
  padding-left: 25px;
  font-size: 1.2em;
  color: $textLightColor;
  background-color: $primaryColor;
  min-height: 80px;
}
.labeled-box-label-text {
  align-self: center;
}
.labeled-box-content {
  display: flex;
  border: 1px solid $primaryColor;
  border-radius: 0 $standardBorderRadius $standardBorderRadius 0;
  background-color: $backgroundColor;
  padding: 10px 10px 10px 10px;
  & > .row {
    margin: 0px;
  }
}

.labeled-box-content.labeled-box-large {
  padding: 10px 0px 0px 10px;
  border: 2px solid $primaryColor;
}

/* hacky flexbox bug, even in chrome! */
.labeled-box-content > div {
  width: 100%;
}
@media (min-width: $minLargeDevice) {
  .labeled-box-label {
    width: 18%;
    border-radius: $standardBorderRadius 0px 0px $standardBorderRadius;
    /* make the blue rounded part go over the content labeled-box-content */
    z-index: 1;
  }
  .labeled-box-content {
    border-left: none;
    display: flex;
    width: 82%;
  }
}
@media (max-width: $maxLargeDevice) {
  .labeled-box-label {
    width: 100%;
  }
  .labeled-box-content {
    border-top: none;
    border-radius: 0px;
    width: 100%;
  }
}

.labeled-box-content > .IBDetails {
  padding-top: 15px;
  padding-left: 20px;
  & > .IBDetails__Summary {
    padding-left: 0px;
  }
}
