@import "src/common_css/common-variables";

$indent: 2em;
$spacing: 10px;

.footnote-list {
  margin: 0px 20px;
}

.footnote-list__subtitle {
  font-size: 16px;
}

.footnote-list__item {
  font-size: 14px;
  margin: $spacing 0px $spacing $indent;

  &:not(:first-child)::before {
    content: "";
    display: block;
    border-top: 1px solid $separatorColor;
    margin-right: $indent;
    margin-bottom: $spacing;
  }
}

// Set uniform margins on whatever tags, usually p's, are wrapping the markdown produced innerHTML
.footnote-list__note > * {
  margin: 0px 0px $spacing/2 0px;
}

.footnote-list__meta_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > .footnote-list__meta_item {
    font-size: 0.8em;
    margin-top: $spacing/4;

    &:not(:first-child) {
      margin-left: $spacing;
    }
  }
}
