@import "src/common_css/common-variables";

$controlsColor: $primaryColor;
$controlsColorLighter: lighten($controlsColor, 20%);

.visibility-control {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: nowrap;
}

.visibility-control__item {
  @include unstyled-button;
  flex: 1;
  cursor: pointer;
  background-color: $backgroundColor;
}

.visibility-control__item:hover,
.visibility-control__item:focus,
.visibility-control__item:active {
  background-color: lighten($tertiaryColor, 30%);
}

.visibility-control__eye {
  height: 10px;
}
.visibility-control__eye > svg {
  height: 40px;
  width: 40px;

  @media (max-width: $maxLargeDevice) and (min-width: $minMediumDevice) {
    left: -57px;
  }
}

.visibility-control__components {
  display: flex;
  align-items: center;
}
.visibility-control__text {
  font-size: 1.05em;
  text-align: center;
  font-weight: $heavyFontWeight;
  padding: 7px 0px;
}
.visibility-control__count {
  font-size: 3em;
}

@media (min-width: $minExtraLargeDevice) {
  .visibility-control {
    width: 100%;
    margin: 0 auto;
  }

  .visibility-control__item {
    border-style: solid;
    border-width: 2px 2px 2px 0;
    border-color: $controlsColor;
    color: $controlsColor;
  }
  .visibility-control__item:first-child {
    border-top-left-radius: $standardBorderRadius;
    border-bottom-left-radius: $standardBorderRadius;
    border-left-width: 2px;
  }
  .visibility-control__item:last-child {
    border-top-right-radius: $standardBorderRadius;
    border-bottom-right-radius: $standardBorderRadius;
  }

  .visibility-control__components {
    flex-direction: column;
  }
  .visibility-control__text {
    margin-top: 0.5em;
    margin-bottom: 0.7em;
  }
}

@media (max-width: $maxExtraLargeDevice) {
  .visibility-control {
    flex-direction: column;
  }

  .visibility-control__item {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: $controlsColor;
    flex-basis: auto;
  }
  .visibility-control__item:first-child {
    border-top-width: 1px;
    border-top-right-radius: $standardBorderRadius;
    border-top-left-radius: $standardBorderRadius;
  }
  .visibility-control__item:last-child {
    border-bottom-right-radius: $standardBorderRadius;
    border-bottom-left-radius: $standardBorderRadius;
  }

  .visibility-control__eye {
    width: 13%;
  }
  .visibility-control__components {
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
    & > div {
      width: 30%;
    }
  }
  .visibility-control__count_area {
    text-align: center;
  }
}

@media (max-width: $maxSmallDevice) {
  .visibility-control__item {
    padding: 0px !important;
  }
}
