@import "src/common_css/common-variables";

$treeMapBackgroundColor: $separatorColor;

$treeMapSelectedBorder: $primaryColor;
$treeMapSelectedColor: rgba($tertiaryColor, 0.4);

$treeMapControlsColor: $secondaryColor;
$treeMapControlsColorMid: lighten($secondaryColor, 20);
$treeMapControlsColorLight: lighten($secondaryColor, 40);

$treeMapTooltipColor: $primaryColor;

.TreeMap__Wrapper {
  background: none;
}
.TreeMap__Root {
  width: 100%;
}
.TreeMap__TopBar {
  background-color: $treeMapBackgroundColor;
  height: 100%;
  border: 2px solid white;
  width: 100%;
}
.TreeMap__Mainviz {
  background-color: $treeMapBackgroundColor;
}

.TreeMap__SkipLink:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.TreeMap__SideBar {
  background-color: $treeMapBackgroundColor;
  border: 2px solid $backgroundColor;
  color: $textLightColor;
  text-align: center;
}
.TreeMap_SideBar__Title {
  padding: 20px;
  font-size: 2em;
}
.TreeMap_SideBar__Text {
  padding: 10px;
  line-height: 2em;
  font-size: 1em;
}

.TreeMap__ZoomControl {
  background-color: $treeMapBackgroundColor;
  height: 100%;
  color: $textColor;
  font-size: 16px;
}
.TreeMap__ZoomControl--instruction {
  padding: 10px;
  margin: 0px;
}
.TreeMap__ZoomControl--has-zoom-out {
  text-decoration: underline;
  cursor: pointer;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.TreeMap__ZoomControl--no-zoom-out {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.TreeMap__Rectangle {
  position: absolute;
  border: 1px solid white;

  &.TreeMap__Rectangle--is-parent {
    border-width: 2px;
  }
  &.TreeMap__Rectangle--is-child {
    opacity: 0;
  }
}

/* division contains the rectangle (parent and children) as well as the overlaid content boxes */
.TreeMap__Division:hover {
  // I dont think a mobile version is necessary for this
  .TreeMap__Rectangle--is-child {
    opacity: 0.8;
    border-width: 1px;
  }
  .TreeMap__Rectangle--is-parent {
    opacity: 0.2;
  }
}

.TreeMapNode__ContentBoxContainer {
  &:hover,
  &:focus {
    background-color: $treeMapSelectedColor;
    border-color: $treeMapSelectedBorder;
  }
  &.TreeMapNode__ContentBoxContainer--has-children {
    cursor: pointer;
  }
  position: absolute;
  border: 2px solid rgba(0, 0, 0, 0);
}

.TreeMapNode__ContentBoxContainer--tapped {
  background-color: $treeMapSelectedColor;
  border: 2px solid $treeMapSelectedBorder;
}

.TreeMapNode__ContentBox {
  &.TreeMapNode__ContentBox--standard {
    font-size: 1em;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    text-align: center;
    color: #300;
  }
}
.TreeMapNode__ContentTitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 0.5em;
  font-weight: bold;
  &.TreeMapNode__ContentTitle--large {
    font-size: 1.2em;
    margin-bottom: 0.2em;
  }
  &.TreeMapNode__ContentTitle--small {
    font-size: 0.8em;
    margin-bottom: 0.2em;
  }
}
.TreeMapNode__ContentText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &.TreeMapNode__ContentText--large {
    font-size: 1.2em;
  }
  &.TreeMapNode__ContentText--small {
    font-size: 0.8em;
  }
}

.TM_TooltipContainer {
  position: absolute;
  width: 250px;
  height: auto;
  border-radius: $standardBorderRadius;
  border: 2px solid white;
  background: none repeat scroll 0 0 $treeMapTooltipColor;
  color: white;
  font-size: 1em;
  padding: 10px;
  text-align: center;
  z-index: 10;
  transform: translate(-50%, 0);
  top: 75%;
  left: 50%;
  &:before {
    text-shadow: 1px 1px 0px white;
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
  }
  &:after {
    text-shadow: 1px 1px 0px white;
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent $treeMapTooltipColor transparent;
  }
  .TM_Tooltip__link {
    color: $separatorColor;
  }
}

.BlueHLine {
  display: block;
  height: 1px;
  border-top: 3px solid $secondaryColor;
  margin-top: 2px;
}

.treemap-controls {
  //margin-bottom: -20px;

  & > .treemap-labeled-box {
    margin-bottom: 8px;

    & > .treemap-labeled-box-label {
      background-color: $treeMapControlsColor;
      color: $textLightColor;
      font-size: 18px;
      padding: 5px;
      border-radius: $standardBorderRadius $standardBorderRadius 0px 0px;
      min-height: 0px;
    }

    & > .treemap-labeled-box-content {
      width: 100%;
    }

    & > .treemap-labeled-box-content > .cent > .treemap-options {
      display: block;
      line-height: normal;
      & > .treemap-options__option {
        border-color: $treeMapControlsColor;
        border-width: 1px 2px 1px 2px;
        background-color: $backgroundColor;
        color: $textColor;
        padding: 5px;
        font-size: 14x;
        width: 100%;
      }
      & > .treemap-options__option:last-child {
        border-radius: 0px 0px $standardBorderRadius $standardBorderRadius;
        border-width: 1px 2px 2px 2px;
      }

      & > .treemap-options__option.treemap-options__option--active,
      & > .treemap-options__option.treemap-options__option--active:active {
        border-color: $treeMapControlsColor;
        background-color: $treeMapControlsColorMid;
        color: $textColor;
        border-style: solid;
      }
      & > .treemap-options__option:not(.treemap-options__option--active):hover,
      & > .treemap-options__option:not(.treemap-options__option--active):active,
      & > .treemap-options__option:not(.treemap-options__option--active):focus {
        background-color: $treeMapControlsColorLight;
        border-color: $treeMapControlsColor;
        color: $textColor;
        border-style: solid;
      }
    }
  }
}
