version: 2
jobs:
  build:
    branches:
      only:
        - master
    docker:
      - image: gcr.io/ib-api-first/ib-client-ci
        auth:
          username: _json_key
          password: $GCLOUD_JSON_AUTH

    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - ib-client-dependencies-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: ib-client-dependencies-{{ checksum "package-lock.json" }}
      - run: npm run IB_base
      - run: npm run IB_prod_no_watch
      - run: npm run a11y_prod_no_watch
      - run: chmod +x ./.circleci/authenticate-gcloud.sh
      - run: ./.circleci/authenticate-gcloud.sh
      - run: gsutil -m rsync -d -r build/InfoBase gs://ib-static-bucket/InfoBase