@import '../common_css/common-variables';

.LastYearEstimatesSection {
    border-top: 1px solid $tertiaryColor;
    font-size: 0.8em;
  &>div {
    max-width: 650px;
    &>header {
      margin: 15px 0 10px;
      font-weight: 700;
      font-size: 1.2em;
    }
  }
}


.DiffFilterViewAlert {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.15);
  padding: 10px 0; 
  margin-bottom:5px;
}