@import '../../common_css/common-variables';

.budget-measures {

  & > .budget-measures-top-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 5px 20px;
    font-size: 19px;

    & > .IBDetails {
      font-size: 16px;
      border: 2px solid $secondaryColor;
    }
  }
}

