@import '../common_css/common-variables';



.added{
  color: $textColor;
  background-color: rgba($successDarkColor,0.3)
}


.removed{
  color: $textColor;
  background-color: rgba($failDarkColor,0.3)
}

.textDiff--id-tag {
  text-align: right;
  font-size: 12px;
  margin-top: 5px;
}


.textDiff--instructions {
  margin-bottom: 10px;
}

.textDiff--nochange, .textDiff--indicator-removed, .textDiff--indicator-added {
  border-width: 1px 1px 1px 3px;
  border-style: solid;
  padding: 2px 2px 2px 4px;
  color: $textColor;
}

.textDiff--nochange {
  border-color: $infoDarkColor;
}

.textDiff--indicator-removed {
  border-color: $failDarkColor;
}

.textDiff--indicator-added {
  border-color: $successDarkColor;
}

.textDiff--indicator-report {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black
}