@import '../common_css/common-variables';



.added{
  color: #000;
  background-color: rgba(#009900,0.3)
}


.removed{
  color: #000;
  background-color: rgba(#990000,0.3)
}

.textDiff--id-tag {
  text-align: right;
  font-size: 12px;
  margin-top: 5px;
}


.textDiff--instructions {
  margin-bottom: 10px;
}

.textDiff--nochange {
  border-width: 1px 1px 1px 3px;
  border-color: #4488cc;
  border-style: solid;
  padding: 2px 2px 2px 4px;
  color: #000;
}