@import '../../../common_css/common-variables';

.col-container {
  display: flex;
  flex-direction: row;
  @media (max-width: $maxLargeDevice){
    flex-direction: column;
  }
}
.service-overview-rect {
  background-color: lighten($tertiaryColor, 37%);
  border: 2px solid $primaryColor;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
.identifier-item {
  display: flex;
  justify-content: space-between;
}
.double-pie-text {
  min-height: 40px;
}
.services-standards-gauge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}