@import "src/common_css/common-variables";

.skip-to-data {
  color: $textColor;
  overflow: hidden;
  height: 0px;
  width: 0px;
  padding: 0;
  border: 0;
}
.skip-to-data:focus,
.skip-to-data:active {
  height: auto;
  width: auto;
  overflow: auto;
}

td {
  background-color: inherit;
}

.display-table-container {
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: 20px;

  &.display-table-container--with-utils {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $primaryColor;
  }
}

.display-table-container__utils {
  display: flex;
  justify-content: flex-end;
}
.no-data-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}
.total_color,
.total_color * {
  color: $textLightColor !important;
}

table.display-table {
  width: 99.9%; // avoid annoying always-there x-overflow caused by sub-pixel table border
  margin-bottom: 0px;
}

table.display-table > thead > tr {
  background-color: $primaryColor;

  &:not(:last-child) > th {
    border-bottom: none;
  }
  & > th,
  td {
    border-top: none;

    color: $textLightColor;

    &.center-text {
      vertical-align: middle;
    }

    & > .search {
      width: 100%;
      font-weight: $lightFontWeight;
    }
  }
}
table.display-table > thead > tr > td,
table.display-table > thead > tr > th {
  vertical-align: top;
  font-weight: $mediumFontWeight;
}

table.display-table > tbody > tr > td,
table.display-table > tbody > tr > th {
  font-weight: $mediumFontWeight;
  border: 1px solid $separatorColor;
}

table.display-table > tbody > tr {
  transition: background-color 500ms ease-in;
}

table.display-table > tbody > tr:nth-child(even) {
  background-color: lighten($tertiaryColor, 40%);
}

table.display-table > tbody > tr:nth-child(odd) {
  background-color: $backgroundColor;
}

table.display-table:not(.no-total-row) > tbody > tr > td {
  border-right: 1px solid $separatorColor !important;
}

.total-row {
  background-color: $primaryColor !important;
  border-right: 1px solid $separatorColor !important;
}

::placeholder {
  font-weight: normal;
}
