@import '../../common_css/common-variables';

.dp-utils-heading-container {
  display: flex;
  justify-content: flex-end;
  width: 98.9%;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: $primaryColor;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 8px 10px 0px;
  background-color: $primaryColor;
}

.dp-utils-heading {
  width: 1.5em;
  height: 1.5em;
}
button.dp-utils-heading {
  background-color: Transparent;
  border: none;
  padding: 0;
  margin-bottom: 5px;

  &:active {
    transform: scale(1.15);
  }
}