@import 'src/common_css/common-variables';

.display_table__util-icon {
  width: 1.5em;
  height: 1.5em;
}
button.display_table__util-icon {
  background-color: Transparent;
  border: none;
  padding: 0;
  margin-bottom: 5px;

  &:active {
    transform: scale(1.15);
  }
}

.page-selector {
  margin: 0px 2.5px;
}