@import 'src/common_css/common-variables';



.text-diff__text-part--added{
  color: $textColor;
  background-color: rgba($successDarkColor,0.3);
}


.text-diff__text-part--removed{
  color: $textColor;
  background-color: rgba($failDarkColor,0.3);
  text-decoration: line-through;
}

.text-diff__id-tag {
  text-align: right;
  font-size: 12px;
  margin: 5px;
}

.text-diff__instructions {
  margin-bottom: 10px;
}

.text-diff__indicator_no_diff, .text-diff__indicator_desc_changed, .text-diff__indicator_removed, .text-diff__indicator_added {
  border-width: 2px 2px 2px 4px;
  border-style: solid;
  padding: 2px 2px 2px 4px;
  color: $textColor;
  margin: 10px;
}

.text-diff__indicator_no_diff {
  border-color: $infoDarkColor;
  background-color: $infoLightColor;
}

.text-diff__indicator_desc_changed {
  border-color: $warnDarkColor;
  background-color: $warnLightColor;
}

.text-diff__indicator_removed {
  border-color: $failDarkColor;
  background-color: $failLightColor;
}

.text-diff__indicator_added {
  border-color: $successDarkColor;
  background-color: $successLightColor;
}

.text-diff__indicator-report {
  margin-bottom: 10px;

  & > section > .panel-body {
    padding: 10px 0;
  }
}

.text-diff__selector {
  margin: 10px;
}

.text-diff__indicator-report__row {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.text-diff__indicator-report__subheader {
  width: 100%;
  margin-top: 20px;
  background-color: rgba($tertiaryColor, 0.3);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: $mediumFontWeight;
}
