.finance-box:before {
  background-image: url('svg/expend.svg');
}

.people-box:before {
  background-image: url('svg/people.svg');
}

.results-box:before {
  background-image: url('svg/results.svg');
}