.finance-box:before {
  background-image: url('svg/expend.svg');
}

.people-box:before {
  background-image: url('svg/people.svg');
}

.results-box:before {
  background-image: url('svg/results.svg');
}
.intro-box {
  background-image:url('svg/backbanner.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*parallaxing
  background-attachment: fixed;*/
}