.finance-box:before {
  background-image: url('png/expend.png');
}

.people-box:before {
  background-image: url('png/people.png');
}

.results-box:before {
  background-image: url('png/results.png');
}