@import '../common_css/common-variables';


.home-root {
  /* this block makes home break out of the .container */
  width: 100vw;
  transform: translate(-50%, 0);
  position: relative;
  left: 50%;

  input.typeahead.form-control.input-lg.tt-input {
    //search bar isn't wide enough to contain all placeholder text
    font-size: 1em;
  }
  
}




.intro-box {
  padding: 30px 0 0;

  // background-color:#215185;
  background-color:#284162;
  color: white;
  position: relative;
  margin-bottom: 18rem;
}


.intro-box > .container > h1 {
  border: none;
  font-size: 55px;
  font-weight: $lightFontWeight;
  margin-top: 25px;
  margin-bottom: 0;
}

.intro-box > .container > h2 {
  font-weight: $lightFontWeight;
  font-size: 20px;
}

.external-row-descriptor {
  font-size: 2em;
  margin-top: 25px;
  font-weight: $lightFontWeight;
  border-bottom: 1px solid #333;
}

@media (max-width:992px){
  .external-row-descriptor {
    margin-bottom: 10px;
  }
}

@media (min-width:992px){
  .equal-height-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;    
    justify-content: space-between;
  }
  .equal-height-row--home-row {
    margin-top: 15px;
  }

  .equal-height-col.is-1-half {
    flex: 1 1 50%;
  }

  .equal-height-col.is-1-third {
    flex: 1 1 33%;
  }

  .equal-height-col.is-2-thirds {
    flex: 1 1 33%;
  }

  .equal-height-col:not(:last-child):not(.no-gutter){
    margin-right: 15px; 
  }

  .equal-height-col {
    /*padding: 5px 15px;*/
    padding: 0;
    display: flex;
  }

  .equal-height-col > .col-content {
    
    /* ensure that content is equal-height */
    flex:auto;

    display: flex;
    width: 100%;
    max-width: 100%;

    flex-direction: column;
    justify-content: flex-start;
  }

  /* this class breaks component separation, it should be added to another component.*/
  /* it will ensure .col-content-child takes up the full height of .col-content */
  .col-content-child {
    flex: auto;
  }


  .equal-height-row--has-descriptor {
    position: relative;
  }

  .row-descriptor {
    position: absolute;
    flex: 1;
    min-height: 100%;
    align-self: stretch;
    padding: 1px 25px;
    width: 300px;
    left: -300px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }
  .row-descriptor__container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid black;
    padding-top: 10px;
  }

  .row-descriptor__content {
    font-size: 1.6em;
    font-family: Georgia,serif;
    font-weight: $lightFontWeight;
  }

}


@media(max-width: 1700px){
  .row-descriptor {
    display: none;
  }
}
@media(max-width: 992px){
  .equal-height-col {
    margin-bottom: 15px;
  }
}

.col-content.featured-col-content {
  color: #333 !important;
  background-color: #284162;
  border-radius: 10px;
}

.col-content.explore-col-content {
  color: #333 !important;
  background-color: hsla(210, 45%, 82%, 1);
  border-radius: 10px;
}

.col-content.misc-col-content {
  color: #333 !important;
  background-color: hsla(210, 45%, 82%, 1);
  border-radius: 10px;
}

.list-group-item--home {
  background-color: #fafafa;
  border-color: #ccc !important;
}

.grey-blue-rect {
  background-color: rgba(170, 198, 212, 0.8);
  border-color: #92b5c8;
}

.lighter-blue-rect {
  background-color:rgba(202, 217, 222, 0.8);
  border-color: 1px solid #71aec1;
}

.lightest-blue-rect {
  background-color: rgba(219, 235, 240, 0.7);
  border-color: 1px solid #acd1dc;
}

.dark-blue-rect {
  margin-top: 15px;
  background-color: #005172;
  color: #f9f9f9;
}

.light-link {
  color: #f9f9f9 !important;
}

.badge.badge--is-new {
  background-color: #c70505; 
  color: #fcfcfc;
}

.finance-box {
  border-top: 10px solid hsla(275, 63%, 80%, 1);

  border-bottom-left-radius: 10px;

  background-color: #823BB1;

  &:active, &:hover, &:focus {
    background-color: hsla(276, 65%, 85%, 1);
  }
}

.people-box {
  border-top: 10px solid hsla(208, 70%, 69%, 1);
  background-color: #2070B9;

  &:active, &:hover, &:focus {
    background-color: hsla(208, 70%, 88%, 1);
  }

}
.results-box {
  border-top: 10px solid hsla(170, 50%, 74%, 1);
  border-bottom-right-radius: 10px;
  background-color:hsla(170, 40%, 35%, 1);

  &:active, &:hover, &:focus {
    background-color: hsla(170, 65%, 85%, 1);
  }
  
}

.people-box, .finance-box, .results-box {
  @include unstyled-link;
  color: #fff;
  font-weight: $lightFontWeight;

  &:active, &:hover, &:focus {
    color: #333;
  }
}

.results-box, .people-box, .finance-box {
  .h-img-card__title, .h-img-card__text {
    font-weight: $lightFontWeight;
  }
}

.results-box, .people-box, .finance-box {
  transition: background-color 500ms ease, color 500ms ease;
  cursor: pointer;
  position: relative;
}

.finance-box, .people-box, .results-box {
  &:before {
    content: "";
    position: absolute;
    top: -34px;
    left: 50%;
    transform: translate(-50%,-52px);
    width: 70px;
    height: 70px;
    z-index: 1;
    background-repeat: no-repeat;
  }
}

.partition-budget-home-content {
  & > .h-img-card > .h-img-card__left {
    flex: 0 0 32.5%;

    & > a > img {
      @media(min-width:1200px){
        width: 316px;
      }
      @media(max-width:1199px){
        width: 91%;
      }
    }
  }
  & > .v-img-card > .v-img-card__top-container > .v-img-card__top > a > img {
    width: 360px;
  }
}

.home-trinity-container {
  transform: translate(0, 50%);
  margin-top: -4rem;
}
.TrinityItem {
  @include unstyled-link;
  background-color: #215186;
  border-radius: 10px;
  width: 90%;
  padding: 3rem;
  transform: scale(1);

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform .2s ease-in-out;
  &:hover {
    transform: scale(1.25);
  }
}

.TrinityItem__Title {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}

.TrinityItem__Img {
  width: 10rem;
}


$col_gutter_width: 2rem;
//fatten the padding for fcols
.frow.home-cols {
  margin-left: -$col_gutter_width;
  margin-right: -$col_gutter_width;

  &>.home-col {
    padding-right: $col_gutter_width;
    padding-left: $col_gutter_width;
  }
} 
