{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
      ["@babel/preset-env", { "targets": { "node": "6.0.0" } }]
    ]
}
