*.DS_Store
*.swp
*.swo
/node_modules
.vscode/
npm-debug*
coverage
*credentials*.json
transpiled_build/

# for old local dev dbs, might still be generated if checking out an old commit
mongo/mongo.log
mongo/db/*