*.DS_Store
*.swp
*.swo
/scripts/write_envs.sh
/node_modules
.vscode/
npm-debug*
coverage
*credentials*.json
transpiled_build/
outage_msg.json

# for old local dev dbs, might still be generated if checking out an old commit
mongo/mongo.log
mongo/db/*