@import "src/common_css/common-variables";

.leaf-spinner-container {
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  z-index: 9000;
}

.leaf-spinner {
  width: 100px;
  height: 100px;
}

.leaf-spinner__outer-circle,
.leaf-spinner__inner-circle {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  -moz-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;

  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.leaf-spinner__outer-circle {
  & > circle {
    stroke-dasharray: 50;
    stroke-linecap: round;
  }

  -webkit-animation: leaf-spinner-rotate-reverse 2s linear infinite;
  -ms-animation: leaf-spinner-rotate-reverse 2s linear infinite;
  -moz-animation: leaf-spinner-rotate-reverse 2s linear infinite;
  -webkit-animation: leaf-spinner-rotate-reverse 2s linear infinite;
  animation: leaf-spinner-rotate-reverse 2s linear infinite;
}
@-webkit-keyframes leaf-spinner-rotate-reverse {
  100% {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes leaf-spinner-rotate-reverse {
  100% {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.leaf-spinner__inner-circle {
  & > circle {
    stroke-dasharray: 30;
    stroke-dashoffset: 0;
    stroke-linecap: round;
  }

  -webkit-animation: leaf-spinner-rotate 2s linear infinite;
  -ms-animation: leaf-spinner-rotate 2s linear infinite;
  -moz-animation: leaf-spinner-rotate 2s linear infinite;
  -o-animation: leaf-spinner-rotate 2s linear infinite;
  animation: leaf-spinner-rotate 2s linear infinite;
}
@-webkit-keyframes leaf-spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes leaf-spinner-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
