body.modal-open.modal-open--allow-scroll {
  overflow-y: scroll !important;
  padding-right: 0px !important;
}

.modal[modal-without-backdrop="true"] {
  overflow: visible;
  width: 100%;
  height: 1px;
}
