@import "src/common_css/common-variables";

table.tombstone-table {
  background-color: transparent;
  width: 100%;
}
table.tombstone-table > tbody > tr > td {
  border: none;
  border-bottom: 1px $separatorColor solid;
  padding: 5px;
}
table.tombstone-table > tbody > tr:last-child > td {
  border: none !important;
}
table.tombstone-table > tbody > tr > td > p {
  margin: 0px;
}

dl.tombstone-data-list {
  margin: 0;
  & > dt:first-of-type,
  & > dd:first-of-type {
    border-top: none;
    margin-top: 1rem;
  }
}
