@import 'src/common_css/common-variables';

.bubble-button {
  @include unstyled-link;
  height: 200px;
  width: 300px;
  border-style: solid;
  border-width: 2px;
  border-radius: $standardBorderRadius;
  text-align: center;
  border: 3px solid $primaryColor;
  color: $primaryColor;
  background-color: $backgroundColor;

  &:hover, &:focus {
    transform: scale(1.03);
    background-color: lighten($tertiaryColor, 37%);
    color: $primaryColor;
  }
  
  &.active, &.active:focus, &:active {
    transform: scale(1.03);
    color: $textLightColor;
    background-color: $primaryColor;
  }
}

.bub-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; //IE fix
  height: 100%;
  justify-content: space-between;

  & > .title, {
    width: 100%;
    font-size: 17px;
  }
}

.bub-svg {
  width: 80%; 
  height: 70%;
  background-size: 100%;
}

@media (min-width: $minMediumDevice){
  .bubble-menu {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 250px;
  }

  .bubble-button {
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    display: flex;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .bubble-menu > .bubble-button > .bub-item > .title {
    display: block;
  }
}


@media (max-width: $maxMediumDevice){
  .bubble-menu {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
  }
  .bubble-button {
    margin: 2px;
    padding: 10px;
    width: 100% !important;
    height: auto !important;
  }
  .bub-svg {
    visibility: hidden;
    width: 0px; 
    height: 0px;
  }
}
