/* Adjusts different property sizes 
of the advanced search for mobile */

@import '../common_css/common-variables';

.infographic-search-container > div > a.btn {
  @media(max-width:$maxMediumDevice){
      display: inline-block;
      width: auto;
      padding: 10px;
      margin-top: 5px;
  }
}
.remove-bullet-points {
  list-style-type: none;
}
.remove-padding {
  padding-inline-start: 0;
}
.panel-status-text {
  color: $tertiaryColor;
  font-size: 13px;
}
.previous_and_next_bubble_link_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.previous_bubble_link {
  margin-left: 15px;
}

.next_bubble_link {
  margin-right: 15px;
}

.previous_bubble_link,
.next_bubble_link {
  text-align: center;
  flex: 0 1 33%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  font-size: 1.2em;
}

.infograph-panel-container {
  overflow: hidden;
  margin-bottom: 5px;
}


@media(min-width: $minLargeDevice){
  .super-wide-container-parent{
    display:flex; 
    flex-direction:column; 
    align-items: center;
  }
}

@media(min-width: $minLargeDevice){
  .super-wide-container {
    width: 90vw; 
    overflow-x: visible;
  }
}

@media( min-width: 1600px ){
  .super-wide-container {
    width: 85vw; 
    overflow-x: visible;
  }
}

