@import "src/common_css/common-variables";

/* top-img-card 

 __________
 | /////// |
 |   IMG   |
 | /////// |
 |_________|
 |  Title  |
 |  Text   |
 |_________| 

  structure: 

  .top-img-card
    a
      .top-img-card__top
        .top-img-card__img
      .top-img-card__bottom
        .top-img-card__title
        .top-img-card__text
*/

.top-img-card {
  min-height: 400px;
  text-align: center !important;
  padding: 10px;

  @media (max-width: $maxMediumDevice) {
    min-height: 275px;
    padding: 0px;
  }
}

.top-img-card__top {
  padding: 20px;
  @media (max-width: $maxSmallDevice) {
    padding: 0px;
    height: 100px;
  }
  @media (min-width: $minSmallDevice) {
    height: 150px;
    width: 100%;
  }
}

.top-img-card__img {
  max-width: 100%;
  max-height: 100%;
}

.top-img-card__bottom {
  flex-direction: column;
}

.top-img-card__title {
  font-weight: $mediumFontWeight;
  font-size: 1.75em;
  padding: 10px;
}

.top-img-card__text {
  font-size: 1.25em;
  padding: 10px;
  color: $textColor;
}

.top-img-card-container[href] {
  &:hover,
  &:focus {
    & > .top-img-card {
      background-color: lighten($tertiaryColor, 30%) !important;
    }
  }
}
