
$controlsColor: #00233d;
$controlsColorLighter: lighten($controlsColor, 20%);

@mixin budget-controls-footer-mixin {
  background-color: $controlsColor;
  border-radius: 10px;

  & > .labeled-box {

    & > .labeled-box-label {
      background-color: $controlsColorLighter;
      color: #FFFFFF;
      font-size: 22px;
    }
  
    & > .labeled-box-content {
      border-color: $controlsColorLighter;
      padding-left: 10px;
      color: $controlsColorLighter;
      border-width: 2px;
    }
  }
}