@import '../../common_css/common-variables';

// Partition diagram Style overwrites
.budget-measure-partiton-area > .__partition__ > .partition-diagram {
  border-radius: 10px;

  & > .header {
    color: #f0f8ff;
    font-size: 22px;
    font-weight: $mediumFontWeight;
  }

  & > .partition-content {
    color: #333;
    & > .fat {
      color: #f0f8ff;
    }
    & > .partition-content-title,
    & > .partition-right-ie-fix > .partition-content-title {
      font-weight: $heavyFontWeight;
    }
    & > .partition-content-title.negative-value,
    & > .partition-negative-title-backing > .negative-value {
      color: #FF8A8A;
    }
    &.root { 
      background-color: rgba(0, 101, 179, 0.6);
      & > .partition-content-title {
        font-weight: $heavyFontWeight;
        color: #f0f8ff;
        & > .root-sub-note {
          margin-top: 22px;
          font-size: 20px;
        }
        & > a {
          color: #333;
        }
      }
    }

    & > .partition-popup {
      color: #fdfdfd;
      background-color: #00104a;
      & > .popup-pointer {
      	border-right: 40px solid #00104a;
      }
      & > .popup-decription-text {
        color: #fdfdfd;
      }
      & > .btn {
        color: #333;
      }
    }
  }
}

.budget-measure-popup-name-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0px 5px 0px;
  font-size: 12px;

  & > .name-row-left {
    flex-basis: 50px;
    flex-shrink: 0;
    border: 1px solid white;
    border-width: 1px 1px 0px 0px;
  }

  & > .name-row-right {
    flex-grow: 1;
    max-width: 305px;
    text-align: center;
    border-top: 1px solid white;
  }
}