@import '../../common_css/common-variables';

.budget-measures-partition-controls > .labeled-box {

  & > .labeled-box-label {
    background-color: darken(#a49c9c, 25%);
  }

  & > .labeled-box-content {
    border-color: darken(#a49c9c, 25%);

    & > .centerer > .radio-buttons {
      border-color: #a49c9c;
      & > .radio-buttons__option {
        color: #333;
      }
      
      & > .radio-buttons__option.radio-buttons__option--active {
        color: #333;
        background-color: #a49c9c;
      }
      
      & > .radio-buttons__option:not(:last-child):after {
        border-color: #a49c9c;
      }
      
      & > .radio-buttons__option:not(.radio-buttons__option--active):hover,
      & > .radio-buttons__option:not(.radio-buttons__option--active):active,
      & > .radio-buttons__option:not(.radio-buttons__option--active):focus { 
        background-color: change-color($color: #a49c9c, $alpha: 0.75);
        color: #333 !important;
      }
    }
  }
}