@import "src/style_constants/index.scss";

.sidebar__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 310px;
  height: 100%;
  z-index: 1006;

  box-shadow: -3px 0px 4px rgba(0, 0, 0, 0.2);
}

.slide-enter {
  transform: translateX(200%);
  transition: transform 500ms ease-out;
}
.slide-enter-active {
  transform: translateX(0);
}
.slide-exit {
  transform: translateX(0);
  transition: transform 700ms ease-out;
}
.slide-exit-active {
  transform: translateX(200%);
}

.sidebar {
  background-color: $primaryColor;
  color: $textLightColor;
  font-size: 14px;

  width: 100%;
  height: 100%;
}

.sidebar__icon-wrapper {
  display: flex;
  justify-content: flex-end;
}

.sidebar__close-button {
  opacity: 0.5;
  display: flex;
  align-items: center;
  padding: 15px 15px 0px 0px;
}

.sidebar__close-button:hover {
  opacity: 1;
  cursor: pointer;
}
