@import '../common_css/common-variables';

/* top-img-card 

 __________
 | /////// |
 |   IMG   |
 | /////// |
 |_________|
 |  Title  |
 |  Text   |
 |_________| 

  structure: 

  .top-img-card
    a
      .top-img-card__top
        .top-img-card__img
      .top-img-card__bottom
        .top-img-card__title
        .top-img-card__text
*/

.top-img-card {
  min-height: 400px;
  text-align: center !important;
  padding: 10px;
  
  & > a {
    text-decoration: none;
    color: black;
  }
}

.top-img-card__top {
  padding: 20px;
}

.top-img-card__img {
  width: 50%;
}

.top-img-card__bottom {
  flex-direction: column;
}

.top-img-card__title {
  font-weight: $mediumFontWeight;
  font-size: 1.6em;
  padding: 10px;
}

.top-img-card__text {
  font-size: 1.2em;
  padding: 10px;
  color: #525257;
}