@import '../common_css/common-variables';

/* c-img-card 

  this component attempts to use BEM naming convention  

  ------------------------
  | Title                |
  | text content         |
  |    ///////////////   |
  |    ///////////////   |
  |    ////  IMG  ////   |
  |    ///////////////   |
  |    ///////////////   |
  |                 Link |
  ------------------------

  structure: 
    .c-img-card
      .c-img-card__left
        .c-img-card__img-link
          .c-img-card__img
      .c-img-card__right-container {
        .c-img-card__right
          .c-img-card__title
          .c-img-card__text
          .c-img-card__bottom-right

*/
.c-img-card {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: stretch;
  min-height: 1px; /* IE11 image bug */
  padding: 15px;
}

.c-img-card__left { 
  flex: 0 0 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  max-width: 100%;
  min-height: 1px; /* IE11 image bug */
  font-size: 2.6em; /* for glyphicons */
  color: white;
}

.c-img-card__img-link {
  width: 100%;
  max-width: 100%;
  min-height: 1px; /* IE11 image bug */
  /* for glyphicons */
  text-align: center; 
  color: inherit;
  line-height: 0;
}

.c-img-card__img {
  width: 50%;
  max-width: 50%;
  min-height: 1px; /* IE11 image bug */
  padding: 15px;
  margin: auto;
}

.c-img-card__right {
  display: flex;
  width: 100%;
  max-width: 100%;
  margin-top: -4%;
}

.c-img-card__title {
  font-size: 0.7em;
  font-weight: $mediumFontWeight;
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding: 10px 8px 10px 15px;
  text-transform: uppercase;
}

.c-img-card__text {
  font-size: 0.45em;
  font-weight: $mediumFontWeight;
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
  text-align: left;
  padding: 0px 10px 8px 15px;
}

.c-img-card__bottom-right {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: flex-end;
}

.c-img-card__link {
  color: white;
  text-align: center;
  font-size: 1em;
  padding: 20px 0 20px 0;
  background-color: #FF5e59;
  border-radius: 10px;
  width: 30%;
  max-width: 30%;
  margin-right: 25px;

  & > a {
    color:white;
  }
  @media(max-width:610px){
    padding: 15px 0 15px 0;
  }  
}