@import '../common_css/common-variables';

/* h-img-card 

  this component attempts to use BEM naming convention  

  ------------------------
  | ///// | Title        |
  | ///// | -------------|
  |  IMG  | text content |
  | ///// |              |
  | ///// |         Link |
  ------------------------

  structure: 
    .h-img-card
      .h-img-card__left
        .h-img-card__img-link
          .h-img-card__img
      .h-img-card__right-container {
        .h-img-card__right
          .h-img-card__title
          .h-img-card__text
          .h-img-card__bottom-right

*/
.h-img-card {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: stretch;
  min-height: 1px; /* IE11 image bug */
}

.h-img-card__left { 
  flex: 0 0 30%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  max-width: 100%;
  min-height: 1px; /* IE11 image bug */
  font-size: 2.5em; /* for glyphicons */
  color: white;
}

.h-img-card__img-link {
  width: 100%;
  max-width: 100%;
  min-height: 1px; /* IE11 image bug */
  /* for glyphicons */
  text-align: center; 
  color: inherit;
  line-height: 0;
}

.h-img-card__img {
  width: 50%;
  max-width: 50%;
  min-height: 1px; /* IE11 image bug */
  padding: 15px;
  margin: auto;

}

.h-img-card__right {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.h-img-card__title {
  font-size: 0.6em;
  font-weight: $mediumFontWeight;
  text-align: left;
  width: 100%;
  max-width: 100%;
  padding: 20px 8px 10px 25px;
}

.h-img-card__text {
  font-size: 0.4em;
  font-weight: $mediumFontWeight;
  margin-top: 10px;
  width: 100%;
  max-width: 100%;
  text-align: left;
  padding: 0px 0px 8px 25px;
}

.h-img-card__bottom-right {
  text-align: center;
  font-size: 1em;
  padding: 20px 0 20px 0;
  background-color: black;
  border-radius: 10px;
  
  display: flex;
  width: 30%;
  max-width: 30%;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  
}