@import '../common_css/common-variables';

/* v-img-card 

 __________
 | /////// |
 |   IMG   |
 | /////// |
 |_________|
 | bottom  |
 |_________| 

  structure: 

  .v-img-card
    .v-img-card__top-container
      .v-img-card__top
        .v-img-card__img-link
          .v-img-card__img
    .v-img-card__bottom-container
      .v-img-card__bottom
        .v-img-card__title
        .v-img-card__text
        .v-img-card__bottom-right
  
*/

.v-img-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  text-align: center !important;
  padding: 10px;
  transition: transform 1s ease-in-out;
  
  &> a {
    text-decoration: none;
    color: black;
  }
  /*&:hover {
    .v-img-card__img {
      transform: scale(1.2);
    }
  }*/
}

.v-img-card__top-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.v-img-card__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  width: 100%;
  max-width: 100%;
}

.v-img-card__img {
  @media(min-width:992px){
    width: 50%;
  }
  @media(max-width: 992px){
    max-width: 80vw;
  }
}



.v-img-card__img-link {
  width: 100%;
  max-width: 100%;
  min-height: 1px; /* IE11 image bug */
  /* for glyphicons */
  text-align: center; 
  color: inherit;
  line-height: 0;
}

.v-img-card__bottom-container {
  flex: auto;
  display: flex;
  width: 100%;
  max-width: 100%;
}
.v-img-card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: auto;
  width: 100%;
  max-width: 100%;
}

.v-img-card__title {
  font-weight: $mediumFontWeight;
  font-size: 1.6em;
  width: 100%;
  min-width: 100%;
  padding: 10px;
}

.v-img-card__text {
  font-size: 1.2em;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  color: #525257;
}

.v-img-card__bottom-right {
  width: 100%;
  max-width: 100%;

  margin-top: auto; /* flex hack to emulate justify-self: flex-end */
  padding: 15px 10px 10px 10px;
  text-align: right;
  font-size: 1.2em;
}