@import 'src/common_css/common-variables';

.rpb-modal-container {
  background-color: white;
  overflow: auto;
  line-height: 1.5;
  padding: 0px 20px 0px 20px;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

li.select-list-item {
  margin: 5px 0;
}

@media(min-width: $minLargeDevice){
  .md-half-width{
    min-width: 50%;
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px; 
  }
}

.rpb-option-fancy-ul {
  padding: 14px 15px 12px 20px; 
  width: 100%;
  margin-bottom: 0px;
}

.rpb-config-item {
  display: flex;
  align-items: center;
  padding: 0px 20px 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  & > .row {
    margin: 0px;
  }
}
.rpb-separator {
  border-bottom: 1px solid $separatorColor;
}
.rpb-heading-utils {
  width: 20px;
  height: 20px;
}
button.rpb-heading-utils {
  background-color: Transparent;
  border: none;
  margin-right: 5px;
  padding: 0;

  &:active {
    transform: scale(1.15);
  }
}
.group_filter_dropdown {
  display: flex;
  flex-direction: column;
}
.normal-radio-btn-label {
  display: inline;
  font-weight: 400;
  margin-left: 3px;
}
