@import '../common_css/common-variables';

.item-cloud-row {
  min-height: 300px;
  margin-bottom: 100px;  
  padding: 0;
  margin-left: -5px;
  margin-right: -5px;
}

@media (min-width: $minMediumDevice) { 
  .item-cloud-col {
    padding-left: 6px;
    padding-right: 6px;
  }
  .item-cloud-col > div > div {
    margin: 10px 0;
  }
}

@media (max-width: $maxMediumDevice) { 
  .item-cloud-col > div > div {
    margin: 10px;
  }
}


.item-card {
  border-width: 2px;
  border-style: solid;
  border-radius: $standardBorderRadius;
  border-color: $primaryColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $primaryColor;
}

.item-card-mat {
  background-color: $backgroundColor;
  border-radius: 0 0 $standardBorderRadius $standardBorderRadius;
}

.item-card > .item-title {
  padding: 0px;
  margin-bottom: 2px;
  font-weight: $mediumFontWeight;
  text-align:center;
  color: $textLightColor;
  background-color: $primaryColor;
  border-color: $primaryColor;
  border-radius: $standardBorderRadius $standardBorderRadius 0 0;
  height: fit-content;
}


.item-card > .item-title.active {
  font-weight: $mediumFontWeight;
  color: $textLightColor;
  background-color: $primaryColor;
}

.item-card-footer {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 50px;
  padding-top: 10px;

}

.item-tag-container {
  max-width: 85%;
  width: 85%;
}

.item-select > button {
  width: 110px;
  min-height: 35px;
}


.item-card .item-description {
  padding: 10px;
}

.item-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1em;
  font-size: 0.9em;
  padding: 0px;

  & > .tag-badge {
    margin: 0 12px 12px 0;

    &.active {
      color: $textLightColor;
      background-color: $secondaryColor;
      border-color: $secondaryColor;
    }
  }
}

.item-card > .item-select {
  line-height: 1em;
  font-size: 0.8em;
  padding: 5px 10px;
  align-self: flex-end;
  padding: 5px;
}

.transi-height-enter {
  max-height: 1px;
  opacity: 0.01;
  transition: max-height 500ms ease-in, opacity 500ms ease-in;
}

.transi-height-enter-active {
  max-height: 500px;
  opacity: 1;
  transition: max-height 500ms ease-in, opacity 500ms ease-in;
}

.transi-height-exit {
  max-height: 500px;
  opacity: 1;
  transition: max-height 500ms ease-in, opacity 500ms ease-in;
}

.transi-height-exit-active {
  max-height: 1px;
  opacity: 0.01;
  transition: max-height 500ms ease-out, opacity 500ms ease-out;

}