@import "src/common_css/common-variables";

.overlay {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    $primaryColor,
    rgba($primaryColor, 0.9),
    rgba($primaryColor, 0.5)
  );
  z-index: 100;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  & > h2 {
    margin: 0;
    text-align: center;
  }
}

.icon {
  width: 50%;
  display: block;
}
