/* xplorer mods */

.xplorer-node.xplorer-node--mandate-letter {
  padding-top: 16px;
  padding-bottom: 12px;
}

.xplorer-node-inner-collapsible-content.xplorer-node-inner-collapsible-content--mandate-letter {
  margin-top: 25px;
  line-height: 2.0;
  max-width: 1000px;
}