.gcloudignore
.git
.gitignore

node_modules
*.DS_Store
*.swp
*.swo
.vscode/
npm-debug*
*credentials*.json

coverage
coverage/
src
src/
deploy_scripts
deploy_scripts/

.bablerc
.eslintrc.json
jest.config.js
README.md