@forward "./colors.interop.scss";
@forward "./breakpoints.interop.scss";
@forward "./fonts.interop.scss";
@forward "./dimensions.interop.scss";

@forward "./unstyled-mixins.scss";

@mixin light-link {
  color: $linkColorLight;
  &:focus,
  &:hover {
    color: $linkFocusColorLight;
  }
  &:visited {
    color: $linkVisitedColorLight;
  }
}
