.FlatTreeMap__ToolTip {   
    position: absolute;           
    text-align: center;                 
    padding: 2px;             
    font: 12px sans-serif;        
    background: #999999;   
    border: 0px;      
    border-radius: 5px;           
    pointer-events: none;         
  }