@import '../common_css/common-variables';

/* Styles for height clipped bar graphs */

.gradient.gradient-strong {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)) !important;
}

/* Styles for ppl share pie graphs */
.ppl-share-pie-area > .ppl-share-pie-legend > .centerer > .centerer-IE-fix {
  width: 100%;
  flex-grow: 1;
}
.ppl-share-pie-area > .ppl-share-pie-legend .ppl-share-percent-header {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: bold;
}
@media (min-width:$minMediumDevice){
  div.ppl-share-pie-area{
    display: flex;
    justify-content: space-around;

    & > .ppl-share-pie-graph{
      flex: 0 1 50%;
    }
    & > .ppl-share-pie-graph > div{
      width: 100%;
    }
    & > .ppl-share-pie-legend {
      flex: 0 1 50%;
      align-items: center;
      margin-right: 100px;
    }
    & > .ppl-share-pie-legend > .centerer {
      height: 100%;
    }
  }
}

/* styles from simplographic */
@media (max-width: $largeDevice){
  .canada-intro-grid {
    margin: 0px !important;
  }
}