@import '../common_css/common-variables';


.lab-content {
    background-color: $secondaryColor;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media(min-width: 600px){
    .lab-content {
        width: 50%;
    }
}