@import "../common_css/common-variables";

.btn-ib-zoom { 
  background-color: $backgroundColor;
  border: 2px solid $backgroundColor;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: $tertiaryColor !important;
  border-radius: 13px;
}