@import "src/common_css/common-variables";

.pull-down-accordion {
  border: 2px solid $secondaryColor;
  background-color: $secondaryColor;
  border-radius: $standardBorderRadius;
  width: 100%;
}

.pull-down-accordion-header,
.pull-down-accordion-footer {
  font-size: 1.2em;
  color: $backgroundColor;
  cursor: pointer;
  text-align: center; 
}

.pull-down-accordion-header {
  padding: 10px;
  cursor: pointer;

  & > button {
    @include unstyled-button;
    color: $backgroundColor;
    background-color: rgba(0,0,0,0);

    &:hover, &:focus {
      color: $tertiaryColor;
    }
  }
}

.pull-down-accordion-body {
  background-color: $backgroundColor;
  overflow-y: hidden;
}

.pull-down-accordion-footer {
  min-height: 10px;
  padding: 5px 0 2px 0;
  border-top: 1px solid white;
}

.pull-down-accordion-expander {
  color: $backgroundColor;
  background-color: transparent;
}