@import '../common_css/common-variables';



.back-to-top {
  
    display: inline-block;
    background-color: #3b4f68;
    background: #3b4f68; 
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    color: white;
      
  }
 
  
  .back-to-top:focus {
    text-decoration: none;
    color: white;
  }
  

  #button.show {
    opacity: 1;
    visibility: visible;
  }

  @media(max-width: 600px) {
    .back-to-top {
      width: 100%;
      bottom: 0;
      left: 0;
      border-radius: 0;
      padding: 10px;
    }
  }

  @media (hover: hover) { 
    .back-to-top:hover {
      cursor: pointer;
      text-decoration: none;
      color: white;
      background-color: #333;
    }
  }

  
  
  
  