@import '../common_css/common-variables';

.back-to-top {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: $backgroundColor;
  background-color: $primaryColor;

  &:focus {
    text-decoration: none;
    color: white;
  }
  &:active {
    text-decoration: none;
    color: white;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #333;
  }

  &.back-to-top--shown {
    opacity: 1;
    visibility: visible;
  }
  
  &.back-to-top--caught {
    position: absolute;
  }
  
  &.back-to-top--fixed {
    position: fixed;
    bottom: 30px;
  }

  @media(max-width: 600px) {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-radius: 0;
    padding: 10px;
    border-top: $backgroundColor solid 1px;

    &.back-to-top--fixed {
      bottom: 0px;
    }
  }
}