@import 'src/common_css/common-variables';

/* centered-img-card 

  this component attempts to use BEM naming convention  

  ------------------------
  | Title                |
  | text content         |
  |    ///////////////   |
  |    ///////////////   |
  |    ////  IMG  ////   |
  |    ///////////////   |
  |    ///////////////   |
  |                 Link |
  ------------------------

  structure:
    .centered-img-card
      a
        .centered-img-card__left
          .centered-img-card__title
          .centered-img-card__text
        .centered-img-card__right
          .centered-img-card__img
        .centered-img-card__bottom-right
          .centered-img-card__badge
*/

.centered-img-card {
  min-height: 1px; /* IE11 image bug */
  padding: 15px;
}

.centered-img-card__left { 
  padding: 5px;
  min-height: 1px; /* IE11 image bug */
  color: $textLightColor;
}

.centered-img-card__title {
  font-size: 1.75em;
  font-weight: $mediumFontWeight;
  padding: 10px 8px 10px 15px;
  text-transform: uppercase;
}

.centered-img-card__text {
  font-size: 1.25em;
  font-weight: $mediumFontWeight;
  margin-top: 10px;
  text-align: left;
  padding: 0px 10px 8px 15px;
}

.centered-img-card__right {
  margin-top: -10px;
  min-height: 1px; /* IE11 image bug */
  text-align: center; 
}

.centered-img-card__img {
  width: 50%;
  min-height: 1px; /* IE11 image bug */
  padding-bottom: 15px;
  margin: auto;
}


.centered-img-card__bottom-right {
  display: flex;
  justify-content: flex-end;
}

.centered-img-card__badge {
  color: $textLightColor;
  text-align: center;
  font-size: 1em;
  padding: 20px 0 20px 0;
  background-color: $highlightColor;
  border-radius: $standardBorderRadius;
  width: 30%;
  min-width: 85px;
  max-width: 190px;
  margin-right: 25px;

  @media(max-width: $maxExtraSmallDevice){
    padding: 15px 0 15px 0;
  }

  &:hover, &:focus {
    background-color: darken($highlightColor, 10%);
  }
}