@import 'src/common_css/common-variables';

/* background-img-card 

  this component attempts to use BEM naming convention  

  ------------------------
  |                      |
  |        Title         |
  |     ///////////      |
  |     /// IMG ///      |
  |     ///////////      |
  |                      |
  ------------------------

  structure: 
    a
      .background-img-card {with background image}
        .background-img-card__top-left
          .background-img-card__title
          .background-img-card__text
        .background-img-card__bottom-right
          .background-img-card__link

*/

.background-img-card {
  min-height: 1px; /* IE11 image bug */
  margin: 10px;
  padding: 0% 5%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.background-img-card__top-left { 
  min-height: 1px; /* IE11 image bug */
  color: $textLightColor;
  padding: 5% 1% 10% 1%;
}

.background-img-card__title {
  font-size: 1.75em;
  font-weight: $mediumFontWeight;
  text-align: left;
  width: 100%;
  text-transform: uppercase;
}

.background-img-card__text {
  font-size: 1.25em;
  font-weight: $mediumFontWeight;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}

.background-img-card__bottom-right {
  display: flex;
  width: 100%;
  padding: 5% 0% 3% 0%;
  justify-content: flex-end;
}

.background-img-card__badge {
  color: $textLightColor;
  text-align: center;
  font-size: 1em;
  padding: 20px 0 20px 0;
  background-color: $highlightColor;
  border-radius: $standardBorderRadius;
  width: 30%;
  min-width: 85px;
  max-width: 190px;

  @media(max-width: $maxExtraSmallDevice){
    padding: 10px 0 10px 0;
  }

  &:hover, &:focus {
    background-color: darken($highlightColor, 10%);
  }
}