
.checkbox {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 6px;
  margin: 2px;
}

.checkbox--label {
  display: inline-block;
  vertical-align: middle;
}