.countdown-circle {
  text-align: center;
  display: inline-block;
}

.countdown-circle__sweep {
  position: relative;
  border-radius: 50%;
  width: inherit;
  height: inherit;
}

.countdown-circle__hole {
  position: absolute;
  border-radius: 50%;
  width: 80%;
  height: 80%;
  margin: 10%;
}

.countdown-circle__number {
  position: relative;
}