@import 'src/common_css/common-variables';

/* styles from bootstrap */

$borderColor: transparent;

.IBDetails {
  margin-bottom: .25em;
  display: block;

  border-radius: $standardBorderRadius;
  border: 1px solid $borderColor;
}

.IBDetails__Summary {
  @include unstyled-button;
  background-color: transparent; /* override unstyle-button's inherit because IE11 won't apply it */
  width: 100%;

  color: $linkColor;
  font-weight: $heavyFontWeight;
  padding: 5px;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    color: $linkFocusColor;
    text-decoration: underline;
  }

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.IBDetails__Summary--open {
    border-bottom: 1px solid $borderColor;
  }
}

.IBDetails__TogglerIcon {
  margin-right: 5px;
}

.IBDetails__content--closed {
  display: none;
}