@import '../common_css/common-variables';

table.display-table > thead > tr {
  background-color: $primaryColor;

  &:not(:last-child) > th {
    border-bottom: none;
  }
  & > th {
    border-top: none;

    color: $textLightColor;

    &.center-text {
      vertical-align: middle;
    }

    & > .search {
      width: 100%;
      font-weight: $lightFontWeight;
    }
  }
}
table.display-table > thead > tr > td,
table.display-table > thead > tr > th {
  vertical-align: top;
  font-weight: $heavyFontWeight;
}

table.display-table > tbody > tr > td,
table.display-table > tbody > tr > th {
  font-weight: $mediumFontWeight;
}

table.display-table > tbody > tr {
  transition: background-color 500ms ease-in;
}

table.display-table > tbody > tr:nth-child(even) {
  background-color: lighten($tertiaryColor, 40%);
}

table.display-table > tbody > tr:nth-child(odd) {
  background-color: $backgroundColor;
}

table.display-table:not(.no-total-row) > tbody > tr > td {
  border-right: 1px solid $separatorColor !important;
}

table.display-table:not(.no-total-row) > tbody > tr:last-child {
  background-color: $primaryColor;
}
table.display-table:not(.no-total-row) > tbody > tr:last-child > td {
  color: $textLightColor;
}

table.display-table:not(.no-total-row) > tbody > tr:last-child > td:not(:last-child) {
  border-right: 1px solid $separatorColor !important;
}

::placeholder{
  font-weight: normal;
}