@import '../common_css/common-variables';

.email-backend-form {
  margin-top: 3px;
  border-top: 1px solid $separatorColor;
  padding-top: 8px;
}

.email-backend-form__text-label {
  padding-left: 35px;
  width: 100%;

  & > textarea {
    width: 100%;
  }
}

.email-backend-form__textarea {
  display: flex;
  flex-direction: column;
}

.email-backend-form__privacy-note {
  border: 1px solid $highlightColor;
  margin: 5px;
  padding: 5px;
}

.email-backend-form__send-btn--sending {
  background-color: $secondaryColor;

  &  > div > .leaf-spinner-container {
    top: 0px!important;
    left: 50%!important;
    transform: scale(0.3)!important;
  }
}