@import "../common_css/common-variables";

.embedded-video-container {
  margin: auto;

  @media(min-width: $minMediumDevice){
    width: 60%;
  }
  @media(min-width: $minSmallDevice) and (max-width: $maxMediumDevice){
    width: 80%;
  }
  @media(max-width: $maxSmallDevice){
    width: 100%;
  }
}

.embedded-video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.embedded-video > iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}