@import '../common_css/common-variables';

.footnote-list {
  margin: 0px 20px;
}

.footnote-list__item {
  font-size: 14px;
  
  &:not(:first-child)::before{
    content: "";
    display: block;
    border-top: 1px solid $separatorColor;
    width: 85%;
    margin-left: 7.5%;
  }
}

// standardize margins on whatever tags, usually p's, are wrapping the markdown produced innerHTML
.footnote-list__note > * {
  margin: 10px 0px 10px 2em
}