.ib-header {
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;    
    border: 0;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 1s ease-out;
}

.ib-header > button {
    float: right;
}