@import 'src/common_css/common-variables';

.pagedetails {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

  @media (max-width: $maxMediumDevice) {
    flex-direction: column;
  }

  & > .pagedetails__version-number {
    background-color: $backgroundColor;
    border-radius: $standardBorderRadius;
    padding: 3px;
    @media (min-width: $minExtraLargeDevice) {
      text-align: center;
    }
  }
}