@import "../common_css/common-variables";

/* Panel extensions */
.panel {
    box-shadow: 0 0 transparent;
  }
  .panel.panel-overflow {
    overflow: visible;
  
    & > .panel-body {
      /* .panel has a border radius of 10px, if the overflow is visible we need to correct the the white rectangle that starts popping out */ 
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  .panel-body > .row > .source {
    opacity: 0.8;
  }
  
  .panel-title {
    margin: -0.25em 0 !important;
    font-size: 18px;
  }
  
  .panel-sub-title {
    margin-top: 3px;
    font-weight: 400;
    opacity: 0.8;
  }
  
  /* 
    Fixes Safari-specific bug, does nothing on other browsers. 
    Only needed on larger screens. 
  */
  .panel-body {
    @media (min-width:$minLargeDevice){
      content: none!important;
    }
  
    @media (max-width:$maxLargeDevice){
      padding: 1rem; /* on mobile, we need way less padding */
    }
  }
  
  .panel-heading {
    @media (min-width:$minLargeDevice){
      padding: 15px 15px; /* bootstrap default is 10 15 */
    }
    @media (max-width:$maxLargeDevice){
      /* on mobile, we need way less padding */
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  .panel-heading-utils {
    width: 30px;
    height: 20px;

    & > img {
        width: 20px;
        height: 20px;
    }
  }
  
  .panel.panel-info.panel-flat {
    margin-bottom: 23px;
    background-color: $backgroundColor;
    border-radius: 10px;
    border: 2px solid $primaryColor;
  }

  .panel.panel-info.panel-flat > .panel-heading {
    color: $backgroundColor;
    background-color: $primaryColor;
  }
  
  section.panel {
    background-color: $primaryColor;
    border-radius: 10px;
    border: 2px solid $primaryColor;
    overflow:hidden
  }
  
  section.panel  > .panel-heading {
    color: $backgroundColor;
    background-color: inherit;
    border: none;
    display: inline-flex;
    width: 100%;
  }
  
  section.panel > .panel-body {
    background-color: $backgroundColor;
  }

  .panel-heading-utils {
    width: 20px;
    height: 20px;

    & > img {
      width: 20px;
      height: 20px;
    }
  }

  button.panel-heading-utils {
    background-color: Transparent;
    border: none;
    margin-right: 5px;
    padding: 0;
  }

.panel-separator {
  margin: 20px 60px 20px 60px;
  border-top: 1px solid rgba($separatorColor, 0.5);
}

.panel-heading-utils:active {
  transform: scale(1.15);
}

@media (hover: none){
  .panel-heading-utils:hover, .panel-heading-utils:active {
    transform: scale(1.15);
  }
}

.panel-heading-utils > svg{
  width: 1.5em;
  height: 1.5em;
}

.panel-heading-utils > svg .svg-fill{
  fill: #fff;
}
.panel-heading-utils:hover, > svg .svg-fill {
  fill: $secondaryColor;
}

.panel-heading-utils > svg .svg-stroke {
  stroke: #fff;
}
.panel-heading-utils:hover > svg .svg-stroke {
  stroke: $secondaryColor;
} 
