@import "../common_css/common-variables";

.slider-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0px 40px;
}
.slider-label {
  position: relative;
  height: 30px;
  width: 170px;
  font-weight: bold;
  margin-left: -95px;
  margin-bottom: 40px;
  color: $secondaryColor;

}
