@import '../common_css/common-variables';

.slide-toggle-checkbox{
  position: relative;
  width: 80px;
  height: 40px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  transition: 0.5s;
}

.slide-toggle-checkbox:active, .slide-toggle-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.slide-toggle-checkbox:checked {
  background: #03a9f4;
}

.slide-toggle-checkbox:before {
  content:'';
  position: absolute;
  background: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top:0;
  left:0;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: 0.5s;
}

.slide-toggle-checkbox:checked:before {
  left: 40px;
}

.checkbox-container {
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}
.checkbox-title {
  text-align: center;
  vertical-align: middle;
}
