@import "../common_css/common-variables";

.tabbed-content {
  margin: 0px -15px;
}

.tabbed-content__pane {
  position: relative;
  top: -13px;
  border-top: 1px solid $primaryColor;
  border-radius: 0px 0px 5px 5px;
  padding: 15px 35px 0px 35px;
  background-color: $backgroundColor;

  @media(max-width: 992px){
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
