@import "src/style_constants/index.scss";

.tag-cloud-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  line-height: 1;
  padding: 0px;
}

.tag-cloud-main > li {
  display: flex;
  flex: 0 0 auto;
  padding: 0px;
  border: none;
  margin: 1px;
  line-height: 1.5em;
  font-size: 1em;

  border-radius: $standardBorderRadius;
  overflow: hidden;

  background-color: $buttonPrimaryColor;

  &:hover,
  &:focus-within,
  &.active {
    background-color: $primaryColor;
  }
}

.tag-cloud-main > li > button {
  text-align: center;
  background-color: inherit;
  padding: 3px 8px 3px 15px;
  color: $textLightColor;
  border: none;

  &:only-child {
    padding: 3px 15px;
  }
}

.tag-cloud-main > li > span.tag-button-helper {
  text-align: center;
  padding-right: 3px;
  color: $textLightColor;

  // override glossary icon size
  & > .glossary-tooltip-link > svg {
    width: 1.5em !important;
    height: 2em !important;
  }
}
