@import "src/common_css/common-variables";

.tag-cloud-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
  line-height: 1;
  padding: 0px;
}

.tag-cloud-main > li {
  display: flex;
  flex: 0 0 auto;
  padding: 0px;
  border: none;
  margin: 1px;
  background-color: transparent;
  line-height: 1.5em;
  font-size: 1em;
}

.tag-cloud-main > li > button {
  text-align: center;
  background-color: $buttonPrimaryColor;
  padding: 3px 8px 3px 15px;
  border-radius: $standardBorderRadius 0px 0px $standardBorderRadius;
  color: $textLightColor;
  border: none;

  &:only-child {
    padding: 3px 15px;
    border-radius: $standardBorderRadius;
  }
}

.tag-cloud-main > li > span.tag-button-helper {
  text-align: center;
  background-color: $buttonPrimaryColor;
  padding-right: 3px;
  border-radius: 0px $standardBorderRadius $standardBorderRadius 0px;
  border: none;
  color: $textLightColor;

  // Fix inconsistent sub-pixel white gaps in IE11
  padding-left: 1px;
  margin-right: -1px;

  // override glossary icon size
  & > .glossary-tooltip-link > svg {
    width: 1.5em !important;
    height: 2em !important;
  }
}

.tag-cloud-main > li:hover > button,
.tag-cloud-main > li > button:focus,
.tag-cloud-main > li:hover > span,
.tag-cloud-main > li > span:focus {
  background-color: $buttonSecondaryColor;
}

.tag-cloud-main > li.active > button,
.tag-cloud-main > li.active > span {
  background-color: $primaryColor;
}
