@import 'src/common_css/common-variables';

$largeMargin: 40px;
$smallMargin: 10px;

.TrinityItem {
  @include unstyled-link;
  height: 100%;
  background-color: darken( $tertiaryColor, 10% );
  border-radius: $standardBorderRadius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $tertiaryColor;
  }

  @media(min-width: $minExtraSmallDevice) {
    flex-basis: 23%;
    max-width: 23%;
  @media(min-width: $minSmallDevice) {
    flex-basis: 30%;
    max-width: 30%;
  }

  @media(max-width: $maxSmallDevice) {
    flex-flow: row-reverse;
    justify-content: space-around;
    &:first-child {
      margin-top: $smallMargin;
    }
    margin-bottom: $smallMargin;
  }
}

.TrinityItem__Title {
  font-size: 1.45em;
  padding-top: 8px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  text-transform: uppercase;
  color: $textLightColor;

  @media(min-width: $minSmallDevice) {
    width: 100%; /* IE fix */
  }
  @media(max-width: $maxMediumDevice) {
    font-size: 1.15em;
  }
  @media(max-width: $minSmallDevice) {
    font-size: 0.79em;
  }
}

.TrinityItem__Img {
  width: 40%;
  height: 100%;
  margin-bottom: $smallMargin;

  @media(max-width: $maxSmallDevice) {
    width: 5em;
    height: 5em;
    margin: $smallMargin;
  }

  & > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
