#ib-site-header-area {
  border-bottom: 4px solid #335175;
  background-color: #f8f8f8;
}

#ib-site-header {
  padding: 1.15rem;
  line-height: 0;
}

@media (min-width: 768px) {
  #ib-site-header {
    padding: 1.5rem 2rem;
  }
}
.canada-logo {
  height: 2rem;
  max-width: 50vw;
}
@media (max-width: 767px) {
  #ib-site-header .container {
    padding: 0;
  }
  #ib-site-header .container .row {
    width: 100%;
  }
}
.ib-site-header-logo:after {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
#wb-lng {
  display: block;
  text-align: right;
  width: 100%;
}
#wb-lng > a.lang-switcher {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0.75rem;
  text-align: center;
  padding-bottom: 1rem;
}

#wb-bc {
  background-color: #f8f8f8 !important;
}

@media (min-width: 992px) {
  #wb-lng > a.lang-switcher {
    font-weight: 200;
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  #wb-lng > a.lang-switcher {
    font-size: 1.5rem;
  }
}

.a11y-version-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.a11y-version-link:focus, .a11y-version-link:active {
  clip: rect(auto, auto, auto, auto);
  height: inherit;
  margin: inherit;
  overflow: inherit;
  position: static;
  width: inherit;

  text-decoration: none;
}

