@import "common-variables";

div.int{width: 95px;text-align:center;}
div.big_int{width: 100px;text-align:right;}
div.big_int_real,
div.decimal, 
div.short-str,
div.decimal1 {
  width: 100px;
  text-align:right;
}
div.str{
  width: 150px;
  color: #31708f; /* overide the WET standard for .str */
}
div.str1{
  width: 90px;
  color: #31708f; /* overide the WET standard for .str */
}
div.wide-str{
  width: 300px;
}
div.percentage{
  width: 90px;
  text-align:center;
}
div.percentage1{
  width: 100px;
  text-align:right;
}
div.date{
  width: 90px;
}
div.ordinal{
  width: 150px;
  text-align:center;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(35, 68, 126);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
 /* mini tables */
.right_number {
  white-space: nowrap;
  text-align: right;
}
.left-text {
  font-weight: bold;
  text-align: left;
}
.left-text_plain{
  text-align: left;
}
.right-text {
  font-weight: bold;
  text-align: right;
}
.center-text {
  text-align: center;
}
tr.total-row {
  font-weight : bold;
}
tr.odd {
  background-color: rgba(35, 68, 126,0.1);
}
.success {
  background-color: #dff0d8;
}
/* added for IE9, this adds a transparents 1x1 png file
 * so that mouseneter events can be registered on 
 * empty divs */
.transparent_div {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=);
}


/* utility class. Apply class to a container if you want its content (no matter what kind) centered */
.centerer {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
}


.btn-responsive-fixed-width {
  margin-left: auto;
  min-width: 150px;
  align-self: center;
  @media (max-width:700px) {
    max-width: 150px;
  }
}


/* similar to bootstrap list-group but without the stupid hover/active colors.*/
ul.fancy-ul {
  margin-bottom: 20px;
  padding-left: 0;  
}

ul.fancy-ul > li {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #7b8b9e;
  font-size: 16px;
}

ul.fancy-ul > li:first-child {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

ul.fancy-ul > li:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.fancy-ul-span-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}

.fancy-ul-title-row {
  width: 100%;
  text-align: center;
  font-weight: bold; 
  font-size: 16px;
}

/* use when you don't want an h3/4/5/6 */
.agnostic-header {
  margin-top: 15px;
  font-weight: $heavyFontWeight;
  font-size: 12pt;
}

.agnostic-header.agnostic-header--medium-weight {
  font-weight: $mediumFontWeight;
}

.agnostic-header.extra-margin {
  margin-top: 30px;
  margin-bottom: 10px;
}

.agnostic-header.no-top-margin {
  margin-top: 0;
}


.crso-extra-margin {
  margin-top: 30px;
  margin-bottom: 20px;
}

table.metadata-table > tbody > tr > td:last-child {
  text-align: right;
}

ul.footnote-list {
  padding-left: 5px;
}

.dead-element {
  opacity: 0.75;
}

.text-overflow {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
  margin-bottom: 0px
}

.text-overflow > span {
  font-weight: normal;
  color: black;
}

a.source-link {
  font-weight: bold;
}


/* deatils, widget view and infrograph view header */
table.igoc-table  {
  background-color: transparent;
}
table.igoc-table > tbody > tr > td {
 border: none;
 border-bottom: 1px rgba(35, 64, 111,0.2) solid;
}
table.igoc-table > tbody > tr > td > p {
  margin: 0px;
}

dl.igoc-data-list {
  margin-bottom: 0px;
  & > dt:first-of-type,
  & > dd:first-of-type {
    border-top: none;
  }
}

/* misc table styles */
table.infobase-table > thead > tr > th div.big_int{text-align: center;}
table.infobase-table > thead > tr > th, 
table.infobase-table > tbody > tr > td {
padding: 8px;
vertical-align: top;
} 
table.infobase-table > thead > tr > th {
  text-align: center;
}

.table-dark-bordered, 
.table-dark-bordered>tbody>tr>td, 
.table-dark-bordered>tbody>tr>th,
.table-dark-bordered>tfoot>tr>td,
.table-dark-bordered>tfoot>tr>th,
.table-dark-bordered>thead>tr>td,
.table-dark-bordered>thead>tr>th {
  border: 0px solid rgba(0,0,0,0);
  border-collapse: separate;
  min-width: 102px;
  border-spacing: 5px;
  font-weight: $heavyFontWeight;
}

table.table-blue > thead > tr {
  background-color : #d9edf7;
}
table.table-blue > thead > tr > th {
  background-color: $secondaryColor;
  color: $backgroundColor;
  font-weight : $mediumFontWeight;
  border: none;
  font-size: 13px;
}
tr.background-blue > td {
  background-color: $secondaryColor;
  color: $backgroundColor;
}
tr.background-blue > td > a {
  color : #31708f;
}

/* Styles for height clipped bar graphs */
div.height-clipped-graph-area {
  min-height: 400px;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.height-clipped-bar-area {
  position: relative;
  margin-bottom: 10px;
  left: -20px; /* graph needs to be shifted left to avoid x-overflow with height clipper */
}

.gradient.gradient-strong {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)) !important;
}

/* Styles for ppl share pie graphs */
.ppl-share-pie-area > .ppl-share-pie-legend > .centerer > .centerer-IE-fix {
  width: 100%;
  flex-grow: 1;
}
.ppl-share-pie-area > .ppl-share-pie-legend .ppl-share-percent-header {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-weight: bold;
}
@media (min-width:992px){
  div.ppl-share-pie-area{
    display: flex;
    justify-content: space-around;

    & > .ppl-share-pie-graph{
      flex: 0 1 50%;
    }
    & > .ppl-share-pie-graph > div{
      width: 100%;
    }
    & > .ppl-share-pie-legend {
      flex: 0 1 50%;
      align-items: center;
      margin-right: 100px;
    }
    & > .ppl-share-pie-legend > .centerer {
      height: 100%;
    }
  }
}

// Misc. styles from flat redesign
body {
  background-color: $backgroundColor;
}

b, strong {
  font-weight: $heavyFontWeight;
}

header, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $lightFontWeight;
  font-family: $fontFamily;
}

.easy-access > a {
  white-space: nowrap;
}

.link-styled {
  cursor: pointer;
  text-decoration: none;
  color: $ibLinkColor;
  background-color: transparent;
}

@media (max-width: 1100px){
  .canada-intro-grid {
    margin: 0px !important;
  }
}

.igoc-table > tbody > tr:last-child > td {
  border: none !important;
}

.igoc-table > tbody > tr > td {
  padding: 5px 0;
}

dl.org-profile > dt:first-child,
dl.org-profile > dd:nth-child(2) {
  border: none !important;
}

dl.org-profile { 
  margin-bottom: 0;
}