@import '../common_css/common-variables';

.table-dark-blue > thead > tr {
  background-color: rgb(37, 114, 180);
}
.table-dark-blue > thead > tr > th {
  color: white;
}
.table-dark-blue > thead > tr > td,
.table-dark-blue > thead > tr > th {
  font-weight: $mediumFontWeight;
}


.table-dark-blue > tbody > tr {
  transition: background-color 500ms ease-in;
}

.table-dark-blue > tbody > tr:nth-child(even) {
  background-color: #f4f4f4;
}

.table-dark-blue > tbody > tr:nth-child(odd) {
  background-color: rgba(37,114,180,0.2);
}

.table-dark-blue:not(.no-total-row) > tbody > tr:last-child {
  background-color: rgb(37, 114, 180);
}

.table-dark-blue:not(.no-total-row) > tbody > tr:last-child > td {
  color: white;
}

.table-dark-blue:not(.no-total-row) > tbody > tr:last-child > td:not(:last-child) {
  border-right: 1px solid #bbb !important;
}

/* helper classes for alignment */
td.data-col-cell {
  text-align: right;
}

td.key-col-cell {
  text-align: left;
}