@import "../common_css/common-variables";

.btn-ib-zoom { 
  background-color: $backgroundColor;
  border: 2px solid $backgroundColor;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: $tertiaryColor !important;
  border-radius: $standardBorderRadius;
}

.btn-table-view { 
  background-color: $backgroundColor;
  border: 2px solid $secondaryColor;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: $secondaryColor !important;
  border-radius: $standardBorderRadius;
}

.nivo-tooltip {
  width: 100%;
  border-collapse: collapse;
  @media(min-width: $minSmallDevice){
    font-size: inherit;
  }
  @media(max-width: $maxSmallDevice){
    font-size: 14px;
  }
}

.nivo-tooltip__content {
  padding: 3px 5px;
} 


/* Styles for ppl share pie graphs */
.average-share-pie > .average-share-pie__legend > .centerer > .centerer-IE-fix {
  width: 100%;
  flex-grow: 1;

  & > .average-share-percent-header {
    display: inline-block;
    width: 100%;
    text-align: right;
    font-weight: bold;
  }
}
@media (min-width:$minMediumDevice){
  div.average-share-pie{
    display: flex;
    justify-content: space-around;

    & > .average-share-pie__graph{
      flex: 0 1 50%;
    }
    & > .average-share-pie__graph > * {
      width: 100%;
    }
    & > .average-share-pie__legend {
      flex: 0 1 50%;
      align-items: center;
      margin-right: 100px;
    }
    & > .average-share-pie__legend > .centerer {
      height: 100%;
    }
  }
}