@import 'src/common_css/common-variables';

/* 
  The parts of the old grid-system.css, as used by welcome-mat, rewritten in BEM and SASS

  structure (example): 
    .mat-grid
      .mat-grid__row
        .mat-grid__lg-panel[%]
          .mat-grid__title.welcome-mat-rect
            ...
        .mat-grid__lg-panel[%]
          ...
        ...
      .mat-grid__row
        .mat-grid__lg-panel20.mat-grid__sm-panel
          .mat-grid__inner-grid.welcome-mat-rect
            .mat-grid__inner-panel.mat-grid__inner-panel--[size]
            ...
        ...
      .mat-grid__row
        ...
      ...

*/

// Mixins
@mixin lg-panel($percent) {
  @media (min-width: $minLargeDevice){
    padding: 5px;
    /* nested flex containers for cross browser (safari doesn't let children of flex use height:100% properly) support */
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: $percent;
    max-width: $percent;
  }
}

@mixin lg-hide {
  @media (min-width: $minLargeDevice){
    width: 0px;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
  }
  @media (max-width: $maxLargeDevice){
    display: show;
  }
}

@mixin sm-hide {
  @media (max-width: $maxLargeDevice){
    display: none;
  }
}

// Blocks, elements, and modifiers
.mat-grid {
  font-size: 120%;
}

.mat-grid__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  @media (max-width: $maxLargeDevice){
    flex-direction:column;
  }
}

.mat-grid__row--sm-hide { @include sm-hide; }

.mat-grid__sm-panel {
  @media (max-width: $maxLargeDevice){
    width : 100%;
    padding: 5px;
  }
}

.mat-grid__lg-panel15 { @include lg-panel(15%); }
.mat-grid__lg-panel30 { @include lg-panel(30%); }
.mat-grid__lg-panel20 { @include lg-panel(20%); }
.mat-grid__lg-panel40 { @include lg-panel(40%); }
.mat-grid__lg-panel45 { @include lg-panel(45%); }
.mat-grid__lg-panel50 { @include lg-panel(50%); }
.mat-grid__lg-panel55 { @include lg-panel(55%); }
.mat-grid__lg-panel80 { @include lg-panel(80%); }
.mat-grid__lg-panel100 { @include lg-panel(100%); }

.mat-grid__title {
  padding: 10px;
  text-align: center;
  font-weight: $heavyFontWeight;
}

.mat-grid__inner-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 1rem;
  &.mat-grid__inner-grid--no-padding {
    padding: 0;
  }
}

.mat-grid__inner-panel {
  align-self: center;
  text-align: center;
  padding: 5px;
  width: 100%;

  &.mat-grid__inner-panel--tiny {
    font-size: 0.7em;
  }

  &.mat-grid__inner-panel--small {
    font-size: 1em;
  }
  &.mat-grid__inner-panel--medium {
    font-size: 1.6em;
    @media (max-width: $maxExtraLargeDevice){
      font-size: 1.4em;
    }
  }

  &.mat-grid__inner-panel--large-hide { 
    @include lg-hide;
  }

}

// this class doesn't follow BEM, but its usage is mixed up anyway
.welcome-mat-rect {
  width: 100%; /* cross browser fix */
  background-color: lighten($tertiaryColor, 37%);
  border: 2px solid $primaryColor;
}
