/*color constants*/
$primaryColor: #26374A;
$secondaryColor: #2C70C9;
$tertiaryColor: #8c949e; /* this one is used lots at varying alpha/darkness levels, should stay grey */

$backgroundColor: #fff;
$highlightColor: #da3a38;
$separatorColor: #8c949e;

$tooltipColor: #4d88b3;

$buttonPrimaryColor: #176dde;
$buttonSecondaryColor: #76a4df;

$textColor: #333;
$textLightColor: #f0f8ff;

$linkColor: #2b4380;
$linkFocusColor: #0535d2;
$linkVisitedColor: #7834bc;


/* dark and light colours don't have enough contrast between them for text, so don't use them that way! */
$successLightColor: #cbedbd;
$successDarkColor: #45a64d;
$failLightColor: #ffa8a8;
$failDarkColor: #da3a38;
$warnLightColor: #ffecce;
$warnDarkColor: #fdb84c;
$infoLightColor: lighten($buttonSecondaryColor, 30%);
$infoDarkColor: $buttonPrimaryColor; // setting these to so we don't have too many shades of blue, if the buttons change colour this should be set to a nice "info" blue

$fontFamily: 'Roboto', sans-serif;
$lightFontWeight: 300;
$mediumFontWeight: 400;
$heavyFontWeight: 700;

@mixin unstyled-button {
  text-align: left;
  border: none;
  background-color: inherit;
  outline: none;
  padding: 0;
  border-radius: 0;
}

@mixin unstyled-list {
  padding-left: 0;
  list-style: none;
  &> li {
    padding-left: 0;
    list-style: none;
  }
}
@mixin unstyled-link {
    &, &:link, &:visited, &:hover, &:focus {
      color: inherit;
      text-decoration: inherit;
  }
}