/*color constants*/
$primaryColor: #26374A;
$secondaryColor: #4382d6;
$tertiaryColor: #a5aeb8;

$backgroundColor: #fff;
$highlightColor: #da3a38;

$buttonPrimaryColor: #176dde;
$buttonSecondaryColor: #76a4df;

$wetLinkColor: #1E75E8;
$wetLinkVisitedColor: #7834bc;
$ibLinkColor: #0059b3;

$headerFontFamily: 'Loto', sans-serif;
$defaultFontFamily: 'Noto Sans', sans-serif;
$lightFontWeight: 300;
$mediumFontWeight: 400;
$heavyFontWeight: 700;

@mixin unstyled-button {
  text-align: left;
  border: none;
  background-color: inherit;
  outline: none;
  padding: 0;
  border-radius: 0;
}

@mixin unstyled-list {
  padding-left: 0;
  list-style: none;
  &> li {
    padding-left: 0;
    list-style: none;
  }
}
@mixin unstyled-link {
    &, &:link, &:visited, &:hover {
      color: inherit;
      text-decoration: inherit;
  }
}