@import "./common-variables";

svg {
  overflow: hidden;
}

div.tick,
.axis > text {
  color: $textColor;
  font-size: 85%;
  font-weight: $mediumFontWeight;
}

.axis > path,
.axis > line {
  fill: none;
  stroke: $textColor;
  shape-rendering: auto;
}

.axis.black > line,
.axis.black > path {
  stroke: $textColor;
}
.axis.black > div.tick,
.axis.black > text {
  fill: $textColor;
}

.tick {
  font-size: 12px;
  font-weight: $mediumFontWeight;
}

.tick > text {
  font-size: 12px !important;
  font-weight: $mediumFontWeight;
}

.axis-label {
  font-size: 13px !important;
  font-weight: $mediumFontWeight;
  text-anchor: start;
}

.__label {
  font-weight: $mediumFontWeight;
}
