@import './common-variables';

svg {
 overflow : hidden;
}
div.tick,
.axis > text {
  color: $textColor;
  font-size: 85%;
  font-weight: $mediumFontWeight;
}

.axis > path,
.axis > line {
  fill: none;
  stroke: $textColor;
  shape-rendering: auto;
}

.axis.black > line,
.axis.black > path {
  stroke: $textColor;
}
.axis.black > div.tick,
.axis.black > text {
  fill: $textColor;
}
.legend > li{
  margin-top: 5px;
}
ul.legend.horizontal{
 margin-bottom: 0px; 
}
.legend.horizontal > li {
  margin-top: 10px;
  margin-bottom: 10px;
}


.heatmap-square {
  cursor: pointer;
}
.heatmap-square.hover {
  background: white !important;
}


.bar-amount-neg {
  color: $highlightColor;
}

div.d3-list {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.legend-container {
  overflow-x: hidden;
  padding: 8px 10px 0px;
  border: 1px solid $separatorColor;
  background-color: $backgroundColor;
  border-radius: $standardBorderRadius;
}

.legend-container.horizontal {
  width: 90%;
  margin-left: 9%;
}

.legend-list-el {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.legend-list-inline {
  @include unstyled-list;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media(min-width: $minExtraSmallDevice){
  .legend-list-inline.horizontal {
    flex-direction: row;
  }
}

.tabular-legend-list-el {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0;
}
.tabular-legend-list-el:not(:first-child){
  border-top: 1px solid $separatorColor;
}

.legend-color-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 3px;
}

.tick {
  font-size: 12px;
  font-weight: $mediumFontWeight;
}

.tick > text {
  font-size: 12px!important;
  font-weight: $mediumFontWeight;
}

.axis-label {
  font-size: 13px!important;
  font-weight: $mediumFontWeight;
  text-anchor: start;
}

.__label {
  font-weight: $mediumFontWeight;
}




.IconArrayItem {
  width: 15px;
  height: 15px;
  margin: 0.5px;

  &.IconArrayItem__Small {
    width: 10px;
    height: 10px;
  }

  &.IconArrayItem__Large {
    width: 20px;
    height: 20px;
  }


}