@import './common-variables';

/* 
  IMPORTANT: This is a modified version of https://github.com/kristoferjoseph/flexboxgrid
  how modified is it?

  * removed all .container and .container-fluid styles
  * renamed row to frow, all col-*-* to fcol 
  * fcontainer only centers itself and fixes the .frow negative horizontal margins. It doesn't have a max-width
  * added a utility .frow.no-container to counter .frow's negative horizontal margins
  * replaced breakpoints with our app break points
  
*/

/* this allows us to use fcol-md-* without redundantly specifying fcol-xs-12 all the time */ 
[class*='fcol-md'] {
  width:100%;  
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.fcontainer-fluid, .fcontainer {
  margin-right: auto;
  margin-left: auto;

  padding-right: 2rem;
  padding-left: 2rem;
}

.frow.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.frow.no-gutters > [class*=' fcol-'] {
  padding-left: 0;
  padding-right: 0;
}

.frow {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.frow.no-container {
  margin-right: 0;
  margin-left: 0;
}

.frow.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.fcol.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.fcol-xs,
.fcol-xs-1,
.fcol-xs-2,
.fcol-xs-3,
.fcol-xs-4,
.fcol-xs-5,
.fcol-xs-6,
.fcol-xs-7,
.fcol-xs-8,
.fcol-xs-9,
.fcol-xs-10,
.fcol-xs-11,
.fcol-xs-12,
.fcol-xs-offset-0,
.fcol-xs-offset-1,
.fcol-xs-offset-2,
.fcol-xs-offset-3,
.fcol-xs-offset-4,
.fcol-xs-offset-5,
.fcol-xs-offset-6,
.fcol-xs-offset-7,
.fcol-xs-offset-8,
.fcol-xs-offset-9,
.fcol-xs-offset-10,
.fcol-xs-offset-11,
.fcol-xs-offset-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.fcol-xs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

.fcol-xs-1 {
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.fcol-xs-2 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.fcol-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.fcol-xs-4 {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.fcol-xs-5 {
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.fcol-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.fcol-xs-7 {
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.fcol-xs-8 {
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.fcol-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.fcol-xs-10 {
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.fcol-xs-11 {
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.fcol-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.fcol-xs-offset-0 {
  margin-left: 0;
}

.fcol-xs-offset-1 {
  margin-left: 8.33333333%;
}

.fcol-xs-offset-2 {
  margin-left: 16.66666667%;
}

.fcol-xs-offset-3 {
  margin-left: 25%;
}

.fcol-xs-offset-4 {
  margin-left: 33.33333333%;
}

.fcol-xs-offset-5 {
  margin-left: 41.66666667%;
}

.fcol-xs-offset-6 {
  margin-left: 50%;
}

.fcol-xs-offset-7 {
  margin-left: 58.33333333%;
}

.fcol-xs-offset-8 {
  margin-left: 66.66666667%;
}

.fcol-xs-offset-9 {
  margin-left: 75%;
}

.fcol-xs-offset-10 {
  margin-left: 83.33333333%;
}

.fcol-xs-offset-11 {
  margin-left: 91.66666667%;
}

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

@media only screen and (min-width: $minSmallDevice) {

  .fcol-sm,
  .fcol-sm-1,
  .fcol-sm-2,
  .fcol-sm-3,
  .fcol-sm-4,
  .fcol-sm-5,
  .fcol-sm-6,
  .fcol-sm-7,
  .fcol-sm-8,
  .fcol-sm-9,
  .fcol-sm-10,
  .fcol-sm-11,
  .fcol-sm-12,
  .fcol-sm-offset-0,
  .fcol-sm-offset-1,
  .fcol-sm-offset-2,
  .fcol-sm-offset-3,
  .fcol-sm-offset-4,
  .fcol-sm-offset-5,
  .fcol-sm-offset-6,
  .fcol-sm-offset-7,
  .fcol-sm-offset-8,
  .fcol-sm-offset-9,
  .fcol-sm-offset-10,
  .fcol-sm-offset-11,
  .fcol-sm-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .fcol-sm {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .fcol-sm-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .fcol-sm-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .fcol-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .fcol-sm-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .fcol-sm-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .fcol-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .fcol-sm-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .fcol-sm-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .fcol-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .fcol-sm-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .fcol-sm-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .fcol-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .fcol-sm-offset-0 {
    margin-left: 0;
  }

  .fcol-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .fcol-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .fcol-sm-offset-3 {
    margin-left: 25%;
  }

  .fcol-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .fcol-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .fcol-sm-offset-6 {
    margin-left: 50%;
  }

  .fcol-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .fcol-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .fcol-sm-offset-9 {
    margin-left: 75%;
  }

  .fcol-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .fcol-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-sm {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: $minMediumDevice) {

  .fcol-md,
  .fcol-md-1,
  .fcol-md-2,
  .fcol-md-3,
  .fcol-md-4,
  .fcol-md-5,
  .fcol-md-6,
  .fcol-md-7,
  .fcol-md-8,
  .fcol-md-9,
  .fcol-md-10,
  .fcol-md-11,
  .fcol-md-12,
  .fcol-md-offset-0,
  .fcol-md-offset-1,
  .fcol-md-offset-2,
  .fcol-md-offset-3,
  .fcol-md-offset-4,
  .fcol-md-offset-5,
  .fcol-md-offset-6,
  .fcol-md-offset-7,
  .fcol-md-offset-8,
  .fcol-md-offset-9,
  .fcol-md-offset-10,
  .fcol-md-offset-11,
  .fcol-md-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .fcol-md {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .fcol-md-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .fcol-md-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .fcol-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .fcol-md-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .fcol-md-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .fcol-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .fcol-md-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .fcol-md-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .fcol-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .fcol-md-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .fcol-md-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .fcol-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .fcol-md-offset-0 {
    margin-left: 0;
  }

  .fcol-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .fcol-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .fcol-md-offset-3 {
    margin-left: 25%;
  }

  .fcol-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .fcol-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .fcol-md-offset-6 {
    margin-left: 50%;
  }

  .fcol-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .fcol-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .fcol-md-offset-9 {
    margin-left: 75%;
  }

  .fcol-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .fcol-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-md {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media only screen and (min-width: $minLargeDevice) {

  .fcol-lg,
  .fcol-lg-1,
  .fcol-lg-2,
  .fcol-lg-3,
  .fcol-lg-4,
  .fcol-lg-5,
  .fcol-lg-6,
  .fcol-lg-7,
  .fcol-lg-8,
  .fcol-lg-9,
  .fcol-lg-10,
  .fcol-lg-11,
  .fcol-lg-12,
  .fcol-lg-offset-0,
  .fcol-lg-offset-1,
  .fcol-lg-offset-2,
  .fcol-lg-offset-3,
  .fcol-lg-offset-4,
  .fcol-lg-offset-5,
  .fcol-lg-offset-6,
  .fcol-lg-offset-7,
  .fcol-lg-offset-8,
  .fcol-lg-offset-9,
  .fcol-lg-offset-10,
  .fcol-lg-offset-11,
  .fcol-lg-offset-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .fcol-lg {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .fcol-lg-1 {
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .fcol-lg-2 {
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .fcol-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .fcol-lg-4 {
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .fcol-lg-5 {
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .fcol-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .fcol-lg-7 {
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .fcol-lg-8 {
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .fcol-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .fcol-lg-10 {
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .fcol-lg-11 {
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .fcol-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .fcol-lg-offset-0 {
    margin-left: 0;
  }

  .fcol-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .fcol-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .fcol-lg-offset-3 {
    margin-left: 25%;
  }

  .fcol-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .fcol-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .fcol-lg-offset-6 {
    margin-left: 50%;
  }

  .fcol-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .fcol-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .fcol-lg-offset-9 {
    margin-left: 75%;
  }

  .fcol-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .fcol-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .middle-lg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .bottom-lg {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-lg {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .first-lg {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-lg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}
