@import './common-variables';

/* 
 * set o classes for grid-base text 
*/

// Grid systems should all be based off min-width breakpoints, for consistency. These are just some minor misc. exceptions to that
@media (max-width: $maxMediumDevice){
  .sm-grid-panel {
    width: 100%;
    padding: 5px;
  }
  .md-clearfix {
    clear: both;
  }
  .sm-full {
    width: 100%;
  }
}

/* .lg-grid > .grid-row > lg-grid-panel30.key_concept_term */

.lg-grid-panel30.key_concept_term {
  width: 100%;
  padding-top: 20px;

  @media (min-width: $minMediumDevice){
    max-width: 29%;
    padding-top: none;
  }
}

.key_concept_term {
  border-bottom: 1px solid $separatorColor;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  color: $textColor;
  font-weight: $heavyFontWeight;
}

/* .lg-grid > .grid-row > lg-grid-panel70.key_concept_def */
.lg-grid-panel70.key_concept_def {
  width: 100%;

  @media (min-width: $minMediumDevice){
    max-width: 69%;
  }
}

.key_concept_def {
  border-bottom: 1px solid $separatorColor;
  padding: 10px;
  padding-top: 20px;
  background-color: $backgroundColor;
}

.key_concept_header {
  color: $backgroundColor;
  background-color: rgba($secondaryColor, 0.7);
  border: 1px solid rgba($secondaryColor, 0.9);
  text-align: center;
  padding: 10px;
}
