
.icon--svg-inline {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

.icon--fw {
    text-align: center;
    width: 1.25em;
}