@import "common-variables";

div.int {
  width: 95px;
  text-align: center;
}
div.big_int,
div.decimal,
div.short-str,
div.decimal1 {
  width: 100px;
  text-align: right;
}
div.str {
  width: 150px;
  color: $textColor; /* overide the WET standard for .str */
}
div.wide-str {
  width: 300px;
}
div.percentage {
  width: 90px;
  text-align: center;
}
div.percentage1 {
  width: 100px;
  text-align: right;
}
div.date {
  width: 90px;
}
div.ordinal {
  width: 150px;
  text-align: center;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: $primaryColor;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.success {
  background-color: $successLightColor;
}
.no-right {
  right: 0;
}
.full-width {
  width: 100%;
}
/* added for IE9, this adds a transparents 1x1 png file
 * so that mouseneter events can be registered on 
 * empty divs */
.transparent_div {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNgYAAAAAMAASsJTYQAAAAASUVORK5CYII=);
}

/* utility class. Apply class to a container if you want its content (no matter what kind) centered */
.centerer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-responsive-fixed-width {
  margin-left: auto;
  min-width: 150px;
  align-self: center;
  @media (max-width: $maxMediumDevice) {
    max-width: 150px;
  }
}

.dead-element {
  opacity: 0.75;
}

.text-overflow {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  white-space: nowrap;
  margin-bottom: 0px;
}
.text-overflow > span {
  font-weight: normal;
  color: $textColor;
}

a.source-link {
  font-weight: bold;
}

span.glossary-link,
a.glossary-link {
  font-weight: bold;
}

// Misc. styles from flat redesign
body {
  background-color: $backgroundColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: $lightFontWeight;
  font-family: $fontFamily;

  &.heading-unstyled {
    margin: 0px;
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
  }
}

b,
strong,
.heavy-weight {
  font-weight: $heavyFontWeight;
}

.medium-weight {
  font-weight: $mediumFontWeight;
}

.light-weight {
  font-weight: $lightFontWeight;
}

.link-styled {
  cursor: pointer;
  text-decoration: none;
  color: $linkColor;
  background-color: transparent;
  &:focus,
  &:hover {
    color: $linkFocusColor;
  }
}

.span-hover {
  cursor: pointer;
  &:focus,
  &:hover {
    opacity: 0.5;
  }
}

.copyable-hidden {
  position: absolute;
  left: -999em;
}

.text-only-page-root {
  h2,
  h3,
  h4 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.8em;
  }

  h2 {
    font-size: 30px;
    margin-top: 1.8em;
  }
  h3 {
    font-size: 20px;
    margin-top: 1.2em;
  }
}

// alternate to bootstrap badges
.tag-badge {
  padding: 0.3em.6em;
  color: $textColor;
  border-radius: 0px $standardBorderRadius/2 $standardBorderRadius/2 0px;
  border-style: solid;
  border-width: 1px 1px 1px 3px;
  border-color: lighten($tertiaryColor, 20%) lighten($tertiaryColor, 20%)
    lighten($tertiaryColor, 20%) $secondaryColor;

  &.tag-badge--solid {
    background-color: lighten($tertiaryColor, 20%);
  }
}
