@import "src/common_css/common-variables";

.table-dark-blue > thead > tr {
  background-color: $secondaryColor;
}
.table-dark-blue > thead > tr > th {
  color: $textLightColor;
}
.table-dark-blue > thead > tr > td,
.table-dark-blue > thead > tr > th {
  font-weight: $mediumFontWeight;
}

.table-dark-blue > tbody > tr {
  transition: background-color 500ms ease-in;
}

.table-dark-blue > tbody > tr:nth-child(even) {
  background-color: lighten($tertiaryColor, 40%);
}

.table-dark-blue > tbody > tr:nth-child(odd) {
  background-color: lighten($tertiaryColor, 20%);
}

.table-dark-blue:not(.no-total-row) > tbody > tr:last-child {
  background-color: $secondaryColor;
}

.table-dark-blue:not(.no-total-row) > tbody > tr:last-child > td {
  color: $textLightColor;
}

.table-dark-blue:not(.no-total-row)
  > tbody
  > tr:last-child
  > td:not(:last-child) {
  border-right: 1px solid $separatorColor !important;
}

.table-dark-bordered,
.table-dark-bordered > tbody > tr > td,
.table-dark-bordered > tbody > tr > th,
.table-dark-bordered > tfoot > tr > td,
.table-dark-bordered > tfoot > tr > th,
.table-dark-bordered > thead > tr > td,
.table-dark-bordered > thead > tr > th {
  border: 0px solid rgba(0, 0, 0, 0);
  border-collapse: separate;
  min-width: 102px;
  border-spacing: 5px;
  font-weight: $heavyFontWeight;
}

table.table-blue > thead > tr > th {
  background-color: $secondaryColor;
  color: $backgroundColor;
  font-weight: $mediumFontWeight;
  border: none;
  font-size: 13px;
}
tr.background-blue > td {
  background-color: $secondaryColor;
  color: $backgroundColor;
}

table.infobase-table > thead > tr > th,
table.infobase-table > tbody > tr > td {
  padding: 8px;
  vertical-align: top;
}
table.infobase-table > thead > tr > th {
  text-align: center;
}

tr.total-row {
  font-weight: bold;
}
tr.odd {
  background-color: lighten($tertiaryColor, 20%);
}

/* helper classes for alignment */
td.data-col-cell {
  text-align: right;
}

td.key-col-cell {
  text-align: left;
}

/* mini tables */
.right_number {
  white-space: nowrap;
  text-align: right;
}
.left-text {
  font-weight: bold;
  text-align: left;
}
.left-text_plain {
  text-align: left;
}
.right-text {
  font-weight: bold;
  text-align: right;
}
.center-text {
  text-align: center;
}

/* for wide tables */
.sidescroll {
  overflow-x: auto;
}
