@import "src/common_css/common-variables";

.IconArrayItem {
  width: 15px;
  height: 15px;
  margin: 0.5px;

  &.IconArrayItem__Small {
    width: 10px;
    height: 10px;
  }

  &.IconArrayItem__Large {
    width: 20px;
    height: 20px;
  }
}

.results-icon-array-pass {
  background-color: #206BBD;
}

.results-icon-array-fail {
  background-color: #4abbc4;
}

.results-icon-array-na {
  background-color: #e89a40;
}

.results-icon-array-neutral {
  background-color: #919bd4;
}