@import "../../../common_css/common-variables";

.results-icon-array-pass {
  background-color: $successDarkColor;
}

.results-icon-array-fail {
  background-color: $failDarkColor;
}

.results-icon-array-na {
  background-color: $warnDarkColor;
}

.results-icon-array-neutral {
  background-color: $tertiaryColor;
}