.results-flat-table > div > div > table {
  width: 100%;
  position: relative;
  & > tbody > tr > td:first-child {
    // subject
    width: 23%;
  }
  & > tbody > tr > td:nth-child(2) {
    // indicator
    width: 30%;
  }
  & > tbody > tr > td:nth-child(3) {
    // target
    width: 15%;
  }
  & > tbody > tr > td:nth-child(4) {
    // actual result
    width: 15%;
  }
  & > tbody > tr > td:nth-child(5) {
    // Date to achieve
    width: 15%;
  }
  & > tbody > tr > td:nth-child(6) {
    // status icon
    min-width: 60px;
    width: 2%;
  }
}
