@import "../common_css/common-variables";

.dept-explore.breadcrumb-parent.well {
  overflow-x: auto;
  overflow-y: hidden;
  height: 160px;
  margin-bottom: -4px;
  background-color: $backgroundColor;
  border: 2px solid $primaryColor;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dept-explore.breadcrumb{
  margin: 0px; 
  padding: 0px
}
.dept-explore.svg-container.well {
  margin: 0px;
  padding: 0px;
  padding-top: 7px;
  position: relative;
  background-color: $backgroundColor;
  border: 2px solid $primaryColor;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.dept-explore-container {
  @media(min-width: 1200px){
    width: 1142px;
  }
  @media(min-width: 992px) and (max-width: 1200px){
    width: 945px;
  }
  @media(min-width: 768px) and (max-width: 992px){
    width: 730px;
  }
}
