.question-grid {
  border-radius: 10px; 
}

.question-row {
  display:flex;
  justify-content: space-between;
  align-items: center; 

  padding: 20px 0;  
  border-bottom: 1px solid #ccc;
}

.question-cell {
  margin:10px;
  
}

.QuestionDef {

}

.QuestionDataVis {
  font-size: 1.2em;
}
