.countdown-circle {
  text-align: center;
  display: inline-block;
}

.countdown-circle__display {
  position: relative;
  width: inherit;
  height: inherit;
  transform: rotateY(-180deg) rotateZ(-90deg);
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  fill: none;
}
