
svg.icon-svg {
  display: inline-block;
  overflow: visible;
  shape-rendering: geometricPrecision;

  &.icon-svg--inline {
    font-size: inherit;
    overflow: visible;
  }
}

.icon-stroke:not(.icon-fill){
  fill: none;
}
.icon-fill:not(.icon-stroke){
  stroke: none;
}