
svg.icon--svg-inline, svg.icon--svg {
  display: inline-block;
  overflow: visible;
  shape-rendering: geometricPrecision;
}

svg.icon--svg-inline {
  font-size: inherit;
  height: 1.2em;
  overflow: visible;
  vertical-align: -.2em;
}