@import 'src/common_css/common-variables';

$largeMargin: 40px;
$smallMargin: 10px;

.home-root {
  width: 100%;
}

.intro-box {
  padding: 30px 0 20px;
  background-color: $primaryColor;
  color: $textLightColor;
  border-bottom: $smallMargin solid $highlightColor;

  & > h1 {
    border-bottom: none !important;
  }

  // background image set in home.js, has non-static path
  background-position: -5px -8px;
  background-repeat: no-repeat;
  background-size: 102%;

  @supports not (-ms-high-contrast: none) {
    background-attachment: fixed;
  }
}

.intro-box > .container > h1 {
  border: none;
  font-size: 55px;
  font-weight: $lightFontWeight;
  margin-top: 25px;
}

.break-box > .container > h1 {
  border: none;
  font-size: 40px;
  font-weight: $lightFontWeight;
  margin-top: $smallMargin;
  margin-bottom: $smallMargin;
}

.intro-box > .container > h3 {
  font-weight: $lightFontWeight;
  font-size: 20px;
}

.search-box {
  margin-bottom: 10px;
}

.flag-line {
  transform: translate(0, -10%);
  margin: 0;

  & > img {
    width: 100%;
  }
}

.home-bg {
  background-color: $primaryColor;
  position: relative;
}


.home-featured-row {
  margin-top: $largeMargin;
  margin-bottom: $largeMargin;
  @media(max-width: $maxMediumDevice){
    margin-top: $smallMargin;
    margin-bottom: $smallMargin;
  }
}

.home-infographic-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.home-infographic-link-item {
  @include unstyled-link;
  background-color: darken( $tertiaryColor, 10% );
  border-radius: $standardBorderRadius;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:hover, &:focus {
    background-color: $tertiaryColor;
  }

  @media(min-width: $minExtraSmallDevice) {
    flex-basis: 40%;
    max-width: 40%;
    margin: $smallMargin;
  }
  @media(max-width: $maxExtraSmallDevice) {
    flex-flow: row-reverse;
    justify-content: space-around;
    flex-basis: 100%;
    max-width: 100%;
    margin-bottom: $smallMargin;
  }
}
.home-infographic-link-item__title {
  font-size: 1.75em;
  padding-top: 8px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  text-transform: uppercase;
  color: $textLightColor;

  @media(min-width: $minExtraSmallDevice) {
    width: 100%; /* IE fix */
  }
}
.home-infographic-link-item__icon {
  width: 40%;
  height: 100%;
  margin-bottom: $smallMargin;

  @media(max-width: $maxExtraSmallDevice) {
    width: 5em;
    height: 5em;
    margin: $smallMargin;
  }

  & > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-featured-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > .list-group {
    margin-bottom: $smallMargin;

    & > .list-group-item {
      background-color: lighten($tertiaryColor, 37%);
    
      &:hover:not(.active), &:focus:not(.active) {
        color: $textColor;
        background-color: $backgroundColor;
      }
    
      &.active a {
        color: lighten($tertiaryColor, 37%);
      }
    }
  }
}
.badge.badge--is-new {
  background-color: $highlightColor; 
  color: $textLightColor;
  font-size: 16px;
  height: 1.5em;
}


.subapp-linkcards {
  padding-top: $largeMargin;
  @media(max-width: $maxSmallDevice){
    padding-top: $smallMargin;
  }
  
  & > .row {
    justify-content: space-around;
  }
}
.subapp-linkcard {
  flex-basis: 100%;
}
