@import 'src/common_css/common-variables';

$largeMargin: 40px;
$smallMargin: 10px;

.home-root {
  width: 100%;
}

.intro-box {
  padding: 30px 0 20px;
  background-color: $primaryColor;
  color: $textLightColor;
  border-bottom: $smallMargin solid $highlightColor;

  & > h1 {
    border-bottom: none !important;
  }

  // background image set in home.js, has non-static path
  background-position: -5px -8px;
  background-repeat: no-repeat;
  background-size: 102%;

  @supports not (-ms-high-contrast: none) {
    background-attachment: fixed;
  }
}

.intro-box > .container > h1 {
  border: none;
  font-size: 55px;
  font-weight: $lightFontWeight;
  margin-top: 25px;
}

.break-box > .container > h1 {
  border: none;
  font-size: 40px;
  font-weight: $lightFontWeight;
  margin-top: $smallMargin;
  margin-bottom: $smallMargin;
}

.intro-box > .container > h3 {
  font-weight: $lightFontWeight;
  font-size: 20px;
}


.featured-home-cols {
  @media(max-width: $maxLargeDevice) {
    flex-direction: column-reverse; 
  }
}
.featured-home-cols__additional{
  & > .col-content {
    color: $textColor !important;
    background-color: $secondaryColor;
    border-radius: $standardBorderRadius;
    margin-bottom: $largeMargin;
    height: auto;
    width: 100%;  

    @media(min-width: $minExtraLargeDevice) {
      width: 95%;
    }  

    & > a:hover > .left-img-card, & > a:focus > .left-img-card {
      border-radius: $standardBorderRadius;
      background-color: lighten( $secondaryColor, 10% )
    }
  }
}
.featured-home-cols__primary {
  @media(max-width: $maxLargeDevice){
    margin-bottom: $smallMargin;
  }

  & > h2:first-child {
    margin-top: 0px;
    @media(max-width: $maxSmallDevice) {
      margin-top: $smallMargin;
    }
  }
  & > h2:not(:first-child) {
    margin-top: $largeMargin/2;
    @media(max-width: $maxSmallDevice) {
      margin-top: $smallMargin;
    }
  }
}  

.col-content.misc-col-content {
  color: $textColor !important;
  background-color: $tertiaryColor;
  border-radius: $standardBorderRadius;
}

li.list-group-item--home {
  background-color: lighten($tertiaryColor, 37%);
}
.list-group-item--home:hover:not(.active),
.list-group-item--home:focus:not(.active) {
  color: $textColor;
  background-color: $backgroundColor;
}
.list-group-item--home.active a {
  color: lighten($tertiaryColor, 37%);
}

.badge.badge--is-new {
  background-color: $highlightColor; 
  color: $textLightColor;
  font-size: 16px;
}
.search-box {
  margin-bottom: 10px;
}

.flag {
  transform: translate(0, -10%);
  margin: 0;

  & > img {
    width: 100%;
  }
}

.home-trinity-container {
  margin-top: $largeMargin;
  margin-bottom: $largeMargin;
  @media(max-width: $maxMediumDevice) {
    margin-top: $smallMargin;
    margin-bottom: $smallMargin;
  }

  justify-content: space-between;
  
  @media(max-width: $maxMediumDevice) {
    flex-direction: column;
  }
}

.home-bg {
  background-color: $primaryColor;
  position: relative;
}

.xtralinks {
  padding-top: $largeMargin;
  @media(max-width: $maxSmallDevice){
    padding-top: $smallMargin;
  }
  
  & > .row {
    justify-content: space-around;
  }
}

.linkcard {
  flex-basis: 100%;
  padding: 0px;
}

