@import '../common_css/common-variables';


.home-search-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.intro-box {
  padding: 30px 0 0;
  background-color: $primaryColor;
  color: $textLightColor;
  border-bottom: 10px solid $highlightColor;

  & > h1 {
    border-bottom: none !important;
  }

  // background image set in home.js, has non-static path
  background-position: -5px -8px;
  background-repeat: no-repeat;
  background-size: 102%;

  @supports not (-ms-high-contrast: none) {
    background-attachment: fixed;
  }
}

.intro-box > .container > h1 {
  border: none;
  font-size: 55px;
  font-weight: $lightFontWeight;
  margin-top: 25px;
}

.break-box > .container > h1 {
  border: none;
  font-size: 40px;
  font-weight: $lightFontWeight;
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro-box > .container > h2 {
  font-weight: $lightFontWeight;
  font-size: 20px;
}

.col-content.featured-col-content {
  color: $textColor !important;
  background-color: $secondaryColor;
  border-radius: 10px;
  margin-bottom: 40px;
  height: auto;
  width: 100%;

  @media(min-width:1024px) {
    width: 95%;
  }

  &:hover, &:focus {
    background-color: lighten( $secondaryColor, 10% )
  }
}

.frow.home-cols > .fcol-md-5 {
  @media(max-width:1200px) {
    margin-top: 5px;
  }

  & > .h3.home-search-header {
    display: flex;
    @media(min-width:1201px) {
      margin-top: 0px;
    }
    @media(max-width:1200px) {
      margin-top: 35px;
    }
    @media(max-width:1023px) {
      margin-top: 10px;
    }
  }

  & > .h3.home-featured-data-header {
    @media(min-width:1201px) {
      margin-top: 40px;
    }
    @media(max-width:1200px) {
      margin-top: 10px;
    }
  }
}  

.col-content.misc-col-content {
  color: $textColor !important;
  background-color: $tertiaryColor;
  border-radius: 10px;
}

li.list-group-item--home {
  background-color: lighten($tertiaryColor, 37%);
}
.list-group-item--home:hover:not(.active),
.list-group-item--home:focus:not(.active) {
  color: $textColor;
  background-color: $backgroundColor;
}
.list-group-item--home.active a {
  color: lighten($tertiaryColor, 37%);
}

.badge.badge--is-new {
  background-color: $highlightColor; 
  color: $textLightColor;
  font-size: 16px;
}

.flag {
  transform: translate(0, -10%);
  margin: 0;

  & > img {
    width: 100%;
  }
}

.home-trinity-container {
  margin-top: 40px;
  margin-bottom: 40px;

  & > .frow {
    justify-content: space-between;
    
    @media(max-width:610px) {
      flex-direction: column;
    }

    & > .fcol-md-4 {

      @media(max-width:610px) {
        padding: 3% 2% 3% 2%;
      }

      @media(min-width:611px) {
        flex-basis: 30%;
        max-width: 30%;
      }
    }
  }
}

.TrinityItem {
  @include unstyled-link;
  height: 100%;
  background-color: darken( $tertiaryColor, 10% );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &:hover, &:focus {
    background-color: $tertiaryColor;
  }
}

.TrinityItem__Title {
  font-size: 1.75em;
  padding-top: 8px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  text-transform: uppercase;
  color: white;

  width: 100% /* IE fix */
}

.TrinityItem__Img {
  width: 40%;
  height: 100%;
  margin-bottom: 10px;

  & > img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.home-bg {
  background-color: $primaryColor;
  position: relative;
}

.xtralinks {
  padding-top: 40px;
  
  & > frow {
    justify-content: space-around;
  }
}

.linkcard {
  flex-basis: 100%;
  padding: 0px;
  & > a.link-unstyled:hover, & > a.link-unstyled:focus {
    & > .top-img-card {
      min-height: 300px;
      background-color: lighten( $tertiaryColor, 30% ) !important;
    }
  }
  & > a > .top-img-card > .top-img-card__top {
    @media(min-width:600px) {
      height: 150px;
    }
    @media(max-width:600px) {
      height: 100px;
    }
    & > .top-img-card__img {
      max-width:100%;
      max-height:100%;
    }
  }
}


.subapps-link__container {
  background-color: darken( $tertiaryColor, 10% );
  border-radius: 10px;
  color: white;

  &:hover, &:focus {
    background-color: $tertiaryColor;
  }

  & > a > .top-img-card {
    min-height: 0px;
    & > .top-img-card__top {
      padding: 10px;
      & > .top-img-card__img {
        height: 60px;
      }
    }
    & > .top-img-card__bottom {
      & > .top-img-card__title {
        text-transform: uppercase;
        padding: 0px;
      }
      & > .top-img-card__text {
        color: white;
      }
    }
  }
}
