@import "../common_css/common-variables";


a.nav-item {
    color: $textColor !important;
    &:hover {
      color: $tertiaryColor !important;
      text-decoration: none;
    }
  }

a.nav-item > svg .svg-fill {
    fill: $textColor;
}
a.nav-item:hover > svg .svg-fill {
    fill: $tertiaryColor;
}

a.nav-item > svg .svg-stroke {
  stroke: $textColor;
}
a.nav-item:hover > svg .svg-stroke {
  stroke: $tertiaryColor;
}
