@import "src/style_constants/common-variables.module.scss";

a.nav-item {
  color: $textColor !important;
  &:hover,
  &:focus {
    color: $tertiaryColor !important;
    text-decoration: none;
  }
}
